[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pQugl2iOv2s/AVENTURINE.EXE_IS_AMAZING
Type=Link
URL=https://www.youtube.com/watch?v=pQugl2iOv2s
Icon=text-html
