[Desktop Entry]
Encoding=UTF-8
Name=Tectone/JkoOy14A1F8/ROLLING_FOR_LYNEY_FOR_THIS_REASON..
Type=Link
URL=https://www.youtube.com/watch?v=JkoOy14A1F8
Icon=text-html
