[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/vS0vH1GJBCs/The_Dream_Art_of_Remedios_Varo
Type=Link
URL=https://www.youtube.com/watch?v=vS0vH1GJBCs
Icon=text-html
