[Desktop Entry]
Encoding=UTF-8
Name=Tectone/AJJXqkR68K4/Spending_1000_to_max_out_Tartaglia_and_my_body_hurts._Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=AJJXqkR68K4
Icon=text-html
