[Desktop Entry]
Encoding=UTF-8
Name=Tectone/wMq-QV1RhQo/What_Happened_to_Twitch...
Type=Link
URL=https://www.youtube.com/watch?v=wMq-QV1RhQo
Icon=text-html
