[Desktop Entry]
Encoding=UTF-8
Name=Tectone/_yQSXVERD1c/TIGHNARI_LOOKS_AMAZING
Type=Link
URL=https://www.youtube.com/watch?v=_yQSXVERD1c
Icon=text-html
