[Desktop Entry]
Encoding=UTF-8
Name=Tectone/qWTAT-lleFs/MAKE_ROSARIA_BROKEN_ROSARIA_GUIDE_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=qWTAT-lleFs
Icon=text-html
