[Desktop Entry]
Encoding=UTF-8
Name=Tectone/QJBCMkyj9Mg/I_ROLLED_FOR_RAPPA_AND_IT_WAS_CRAZY
Type=Link
URL=https://www.youtube.com/watch?v=QJBCMkyj9Mg
Icon=text-html
