[Desktop Entry]
Encoding=UTF-8
Name=Tectone/tg4qV8duiNI/DON_T_MAKE_THIS_MISTAKE_WHICH_SEELIE_TO_PICK_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=tg4qV8duiNI
Icon=text-html
