[Desktop Entry]
Encoding=UTF-8
Name=Tectone/EGFLDEnk_Xw/Ludwig_Doubled_Down_and_is_Now_Crashing_Out_on_Me
Type=Link
URL=https://www.youtube.com/watch?v=EGFLDEnk_Xw
Icon=text-html
