[Desktop Entry]
Encoding=UTF-8
Name=Tectone/VEuYb3Q5tp0/The_Honkai_Star_Rail_Situation_is_EVEN_WORSE_than_we_Thought..
Type=Link
URL=https://www.youtube.com/watch?v=VEuYb3Q5tp0
Icon=text-html
