[Desktop Entry]
Encoding=UTF-8
Name=Tectone/AgLJM0Y5w0A/Will_I_Be_Pulling_For_Jingliu_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=AgLJM0Y5w0A
Icon=text-html
