[Desktop Entry]
Encoding=UTF-8
Name=Tectone/582hBMfaDVQ/F2P_AKHENATEN_GUIDE_-_UNITS_GEAR_MECHANICS_+_PRO_TIP_ELUNE
Type=Link
URL=https://www.youtube.com/watch?v=582hBMfaDVQ
Icon=text-html
