[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fK_HOiKoEH4/TARTAGLIA_VS_VENTI_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=fK_HOiKoEH4
Icon=text-html
