[Desktop Entry]
Encoding=UTF-8
Name=Tectone/idyyAcFTknk/Leaked_Hoyoverse_Interview_leaves_Playerbase_Uncomfortable_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=idyyAcFTknk
Icon=text-html
