[Desktop Entry]
Encoding=UTF-8
Name=Tectone/YxmeH_1B5ho/ONE_DAY_I_WILL_RUIN_YOUR_LIFE._YOU_KNOW_WHO_YOU_ARE._YOU_DON_T_HAVE_MUCH_TIME_LEFT._YOU_WILL_LOSE.
Type=Link
URL=https://www.youtube.com/watch?v=YxmeH_1B5ho
Icon=text-html
