[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Z1E6BXT7l0U/Shenhe_s_Archon_Quest_Left_Me_Speechless...
Type=Link
URL=https://www.youtube.com/watch?v=Z1E6BXT7l0U
Icon=text-html
