[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Nh2hHoZGT1s/mihoyo_you_did_not_just_do_this_AGAIN...
Type=Link
URL=https://www.youtube.com/watch?v=Nh2hHoZGT1s
Icon=text-html
