[Desktop Entry]
Encoding=UTF-8
Name=Tectone/hN4XepnwP70/Castorice_Saved_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=hN4XepnwP70
Icon=text-html
