[Desktop Entry]
Encoding=UTF-8
Name=Tectone/00rg4HQC6vE/WELCOME_TO_DUPE_CITY_Watch_this_to_feel_better_about_your_Mostima_summons
Type=Link
URL=https://www.youtube.com/watch?v=00rg4HQC6vE
Icon=text-html
