[Desktop Entry]
Encoding=UTF-8
Name=Tectone/MBhgW_XzF2c/HUGE_MISTAKE_AT_LEVEL_40_HONKAI_-_STAR_RAIL_PLAYERS_MAKE_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=MBhgW_XzF2c
Icon=text-html
