[Desktop Entry]
Encoding=UTF-8
Name=Tectone/LAg6yYVPNqs/Everyone_hates_them_now..
Type=Link
URL=https://www.youtube.com/watch?v=LAg6yYVPNqs
Icon=text-html
