[Desktop Entry]
Encoding=UTF-8
Name=Tectone/5nTqcAmQ3bU/I_went_too_far_ROASTING_this_account.
Type=Link
URL=https://www.youtube.com/watch?v=5nTqcAmQ3bU
Icon=text-html
