[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Gqd438fZw5c/I_WHALED_FOR_A_F2P_AND_GOT_THEM_EVERYTHING_THEY_WANTED
Type=Link
URL=https://www.youtube.com/watch?v=Gqd438fZw5c
Icon=text-html
