[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0DWSWeAfs1I/10_OPERATORS_THAT_YOU_NEED_TO_E1_IMMEDIATELY_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=0DWSWeAfs1I
Icon=text-html
