[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Yte-llTF2Dc/IGN_made_an_anime_tier_list_and_it_was...
Type=Link
URL=https://www.youtube.com/watch?v=Yte-llTF2Dc
Icon=text-html
