[Desktop Entry]
Encoding=UTF-8
Name=Tectone/5bkxcXamRHk/A_Scam_email_gave_me_a_free_5_star_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=5bkxcXamRHk
Icon=text-html
