[Desktop Entry]
Encoding=UTF-8
Name=Tectone/otniUomQus8/Hoyoverse_s_BIGGEST_f_ck_up..
Type=Link
URL=https://www.youtube.com/watch?v=otniUomQus8
Icon=text-html
