[Desktop Entry]
Encoding=UTF-8
Name=Tectone/C3DItOa2_YM/The_Biggest_Crashouts_in_Gacha_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=C3DItOa2_YM
Icon=text-html
