[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KC87RIU3wTk/Hoyoverse_Is_Abusing_YouTube_s_Copyright_System..._Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=KC87RIU3wTk
Icon=text-html
