[Desktop Entry]
Encoding=UTF-8
Name=Tectone/wdDIxsCMeP0/Genshin_Impact_Content_Creators_Just_Got_Exposed
Type=Link
URL=https://www.youtube.com/watch?v=wdDIxsCMeP0
Icon=text-html
