[Desktop Entry]
Encoding=UTF-8
Name=Tectone/g9lzCcSDVaQ/How_to_Enjoy_Games_Again_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=g9lzCcSDVaQ
Icon=text-html
