[Desktop Entry]
Encoding=UTF-8
Name=Tectone/17fjhzdLf8I/The_Race_War_is_Coming.
Type=Link
URL=https://www.youtube.com/watch?v=17fjhzdLf8I
Icon=text-html
