[Desktop Entry]
Encoding=UTF-8
Name=Tectone/uXtr51dw6lI/I_Have_Never_Been_More_Confused_In_My_Life...
Type=Link
URL=https://www.youtube.com/watch?v=uXtr51dw6lI
Icon=text-html
