[Desktop Entry]
Encoding=UTF-8
Name=Tectone/-e44UPMnxWM/HARD_WORK_IS_REWARDED_WITH_THIS_AMAZING_PET_Ulala
Type=Link
URL=https://www.youtube.com/watch?v=-e44UPMnxWM
Icon=text-html
