[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rBoEWA90DCk/The_Goth_Girl_Epidemic
Type=Link
URL=https://www.youtube.com/watch?v=rBoEWA90DCk
Icon=text-html
