[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/c2KlVIMV_Ss/The_Maternal_Horror_of_Goodnight_Mommy
Type=Link
URL=https://www.youtube.com/watch?v=c2KlVIMV_Ss
Icon=text-html
