[Desktop Entry]
Encoding=UTF-8
Name=Tectone/_vu891A6dqk/Why_Wuthering_Waves_Will_be_A_Huge_Success
Type=Link
URL=https://www.youtube.com/watch?v=_vu891A6dqk
Icon=text-html
