[Desktop Entry]
Encoding=UTF-8
Name=Tectone/WJNA0n1VkIs/I_will_no_longer_be_supporting_MiHoYo_financially..._kinda
Type=Link
URL=https://www.youtube.com/watch?v=WJNA0n1VkIs
Icon=text-html
