[Desktop Entry]
Encoding=UTF-8
Name=Tectone/h674AILN74M/TECTONE_S_FIRST_TIME_TRYING_SPIRAL_ABYSS_IN_1_YEAR
Type=Link
URL=https://www.youtube.com/watch?v=h674AILN74M
Icon=text-html
