[Desktop Entry]
Encoding=UTF-8
Name=Tectone/4Y7jR6fDsV8/We_Uninstalled_Wuthering_Waves
Type=Link
URL=https://www.youtube.com/watch?v=4Y7jR6fDsV8
Icon=text-html
