[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/BNvL_uZhTsY/Why_Does_Humanity_Exist_NOW
Type=Link
URL=https://www.youtube.com/watch?v=BNvL_uZhTsY
Icon=text-html
