[Desktop Entry]
Encoding=UTF-8
Name=Tectone/mVy-jfRN2U0/They_re_going_after_Fobm4ster_and_his_Wife_over_THIS
Type=Link
URL=https://www.youtube.com/watch?v=mVy-jfRN2U0
Icon=text-html
