[Desktop Entry]
Encoding=UTF-8
Name=Tectone/THryMJrVuaw/I_Was_Wrong_about_Wuthering_Waves
Type=Link
URL=https://www.youtube.com/watch?v=THryMJrVuaw
Icon=text-html
