[Desktop Entry]
Encoding=UTF-8
Name=Tectone/dEE5RykCulc/What_Gacha_Games_am_I_Playing_in_2025
Type=Link
URL=https://www.youtube.com/watch?v=dEE5RykCulc
Icon=text-html
