[Desktop Entry]
Encoding=UTF-8
Name=Tectone/nw5Uhm3IBdY/C6_5_STAR_ONLY_SPIRAL_ABYSS_UNBALANCED
Type=Link
URL=https://www.youtube.com/watch?v=nw5Uhm3IBdY
Icon=text-html
