[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1y3MHkTMfN4/I_don_t_know_what_to_do
Type=Link
URL=https://www.youtube.com/watch?v=1y3MHkTMfN4
Icon=text-html
