[Desktop Entry]
Encoding=UTF-8
Name=Tectone/zuuDZdldZxw/Players_Are_Losing_Hope_For_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=zuuDZdldZxw
Icon=text-html
