[Desktop Entry]
Encoding=UTF-8
Name=Tectone/gh_qkE-VBYo/So_I_tried_out_Mir4...
Type=Link
URL=https://www.youtube.com/watch?v=gh_qkE-VBYo
Icon=text-html
