[Desktop Entry]
Encoding=UTF-8
Name=Tectone/C3JiZXuE58Q/No_Wuthering_Waves_Will_Be_Just_Fine
Type=Link
URL=https://www.youtube.com/watch?v=C3JiZXuE58Q
Icon=text-html
