[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/vC9BeyIlcYo/Do_We_See_the_Same_Colors
Type=Link
URL=https://www.youtube.com/watch?v=vC9BeyIlcYo
Icon=text-html
