[Desktop Entry]
Encoding=UTF-8
Name=Tectone/LxL6w4CyV6I/Why_The_HoYoverse_Community_Hates_Tectone_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=LxL6w4CyV6I
Icon=text-html
