[Desktop Entry]
Encoding=UTF-8
Name=Tectone/SK5lSrTPnmU/5_TOP-TIER_TAG_TEAMS_OF_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=SK5lSrTPnmU
Icon=text-html
