[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/JKV3kH6YmLg/The_Stop_Motion_Horror_Film_That_Was_Animated_by_a_Single_Person
Type=Link
URL=https://www.youtube.com/watch?v=JKV3kH6YmLg
Icon=text-html
