[Desktop Entry]
Encoding=UTF-8
Name=Tectone/j9XuH2DX--Q/What_is_Ys_Online_-_The_Ark_of_Napishtim
Type=Link
URL=https://www.youtube.com/watch?v=j9XuH2DX--Q
Icon=text-html
