[Desktop Entry]
Encoding=UTF-8
Name=Tectone/YDdtioIm5QA/NUCLEAR_DRAMA_HOYOVERSE_NUKING_EVERYTHING
Type=Link
URL=https://www.youtube.com/watch?v=YDdtioIm5QA
Icon=text-html
