[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/8HslUzw35mc/Homeopathy_Explained_Gentle_Healing_or_Reckless_Fraud
Type=Link
URL=https://www.youtube.com/watch?v=8HslUzw35mc
Icon=text-html
