[Desktop Entry]
Encoding=UTF-8
Name=Tectone/a_RMpqsR79A/About_AsianGuyStream..._Stream_Highlights_3
Type=Link
URL=https://www.youtube.com/watch?v=a_RMpqsR79A
Icon=text-html
