[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XxKdAlSm_GM/WHO_S_BETTER_HU_TAO_VS_GANYU_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=XxKdAlSm_GM
Icon=text-html
