[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8kNpOWmnxAM/The_Dark_Truth_About_Gawr_Gura_and_Vtuber_Agencies
Type=Link
URL=https://www.youtube.com/watch?v=8kNpOWmnxAM
Icon=text-html
