[Desktop Entry]
Encoding=UTF-8
Name=Tectone/I6RBCgXahgU/I_got_called_out_HARD...
Type=Link
URL=https://www.youtube.com/watch?v=I6RBCgXahgU
Icon=text-html
