[Desktop Entry]
Encoding=UTF-8
Name=Tectone/nvtv24Df5q8/Hasan_Crashed_Out_on_Lawyer_Over_the_Truth
Type=Link
URL=https://www.youtube.com/watch?v=nvtv24Df5q8
Icon=text-html
