[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/NMo3nZHVrZ4/Overpopulation_Africa
Type=Link
URL=https://www.youtube.com/watch?v=NMo3nZHVrZ4
Icon=text-html
