[Desktop Entry]
Encoding=UTF-8
Name=Tectone/uRCeQNjCU8o/HASAN_CRASHED_OUT_ON_ASMONGOLD_AGAIN.
Type=Link
URL=https://www.youtube.com/watch?v=uRCeQNjCU8o
Icon=text-html
