[Desktop Entry]
Encoding=UTF-8
Name=Tectone/-p9CBMCx5Lw/1.3_HONKAI_STAR_RAIL_DEV_LIVESTREAM_WAS_EVERYTHING_PLAYERS_ASKED_FOR_Tectone_ReactsReacts
Type=Link
URL=https://www.youtube.com/watch?v=-p9CBMCx5Lw
Icon=text-html
