[Desktop Entry]
Encoding=UTF-8
Name=Tectone/P6jsPsnXYow/He_Completely_Lost_It
Type=Link
URL=https://www.youtube.com/watch?v=P6jsPsnXYow
Icon=text-html
