[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/XQQkHLW8b3Y/How_to_Clean_Up_Space_Debris
Type=Link
URL=https://www.youtube.com/watch?v=XQQkHLW8b3Y
Icon=text-html
