[Desktop Entry]
Encoding=UTF-8
Name=Tectone/3kMN91EEhwc/EVERYTHING_2.1_GENSHIN_IMPACT_REVEALED_+_Rant
Type=Link
URL=https://www.youtube.com/watch?v=3kMN91EEhwc
Icon=text-html
