[Desktop Entry]
Encoding=UTF-8
Name=Tectone/c3bDqlE7HQA/HOYOVERSE_CAUGHT_STEALING_PLAYERS_MONEY
Type=Link
URL=https://www.youtube.com/watch?v=c3bDqlE7HQA
Icon=text-html
