[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GgIpvuP8Jeg/SW-EV-5_CHALLENGE_MODE_F2P_NO_6_STARS_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=GgIpvuP8Jeg
Icon=text-html
