[Desktop Entry]
Encoding=UTF-8
Name=Tectone/VwaeAqb7tKw/How_Everyone_Reacts_to_Honkai_Star_Rail_Story
Type=Link
URL=https://www.youtube.com/watch?v=VwaeAqb7tKw
Icon=text-html
