[Desktop Entry]
Encoding=UTF-8
Name=Tectone/G0nl1EFlm0s/NEW_GENSHIN_DEV_LIVESTREAM_4.1_LOOKS_GREAT_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=G0nl1EFlm0s
Icon=text-html
