[Desktop Entry]
Encoding=UTF-8
Name=Tectone/L0tLHVNw3ek/The_WORST_Artifact_rolls_you_ve_ever_seen_for_8_minutes_and_33_seconds._Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=L0tLHVNw3ek
Icon=text-html
