[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Vi4AD5MuL1Y/4.3_LOOKS_GOOD_Version_4.3_DEV_LIVESTREAM_REACT
Type=Link
URL=https://www.youtube.com/watch?v=Vi4AD5MuL1Y
Icon=text-html
