[Desktop Entry]
Encoding=UTF-8
Name=Tectone/nz6R0JC1FAg/I_m_starting_to_gain_Amnesia...
Type=Link
URL=https://www.youtube.com/watch?v=nz6R0JC1FAg
Icon=text-html
