[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Nv16-x1Na1w/Is_ALBEDO_even_worth_it_anymore_in_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=Nv16-x1Na1w
Icon=text-html
