[Desktop Entry]
Encoding=UTF-8
Name=Tectone/tifC7jd3qVQ/I_ripped_her_to_shreds.
Type=Link
URL=https://www.youtube.com/watch?v=tifC7jd3qVQ
Icon=text-html
