[Desktop Entry]
Encoding=UTF-8
Name=Tectone/QCY2a6PhiGw/E2_EXUSIAI_WHY_SHES_NUTS_AND_HOW_TO_SPEED_UP_YOUR_FARM_TIME_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=QCY2a6PhiGw
Icon=text-html
