[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/cUD8Nt0JDlw/YOU_Own_the_Moon._And_Mars._And_Venus.
Type=Link
URL=https://www.youtube.com/watch?v=cUD8Nt0JDlw
Icon=text-html
