[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ZE4d6BGxyyM/The_Sins_Of_Genshin_Impact_Content_Creators
Type=Link
URL=https://www.youtube.com/watch?v=ZE4d6BGxyyM
Icon=text-html
