[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KoCvXzi6ZP8/NEW_HONKAI_STAR_RAIL_CHARACTERS_REVEALED
Type=Link
URL=https://www.youtube.com/watch?v=KoCvXzi6ZP8
Icon=text-html
