[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/yE-NuTviUjg/The_Evil_Within_2_is_an_Underrated_Horror_Game
Type=Link
URL=https://www.youtube.com/watch?v=yE-NuTviUjg
Icon=text-html
