[Desktop Entry]
Encoding=UTF-8
Name=Tectone/d8TV4yEMHsc/Popular_Asian_and_Black_Creators_call_out_Genshin_Twitter_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=d8TV4yEMHsc
Icon=text-html
