[Desktop Entry]
Encoding=UTF-8
Name=Tectone/l0DsiLtTdgY/HASAN_CAUGHT_LYING_BIG_TIME
Type=Link
URL=https://www.youtube.com/watch?v=l0DsiLtTdgY
Icon=text-html
