[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0fqeK4moD5k/The_Zenless_Zone_Zero_Community_Has_A_Problem...
Type=Link
URL=https://www.youtube.com/watch?v=0fqeK4moD5k
Icon=text-html
