[Desktop Entry]
Encoding=UTF-8
Name=Tectone/soDv-H0bgQw/Youtube_Has_A_Huge_Problem..
Type=Link
URL=https://www.youtube.com/watch?v=soDv-H0bgQw
Icon=text-html
