[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KqcZBWC5Q-Q/Mihoyo_Is_NOT_Doing_THIS...
Type=Link
URL=https://www.youtube.com/watch?v=KqcZBWC5Q-Q
Icon=text-html
