[Desktop Entry]
Encoding=UTF-8
Name=Tectone/NxatAbNWgpg/POTENTIAL_LEAK_NEW_SKINS_AND_COSMETICS_-D_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=NxatAbNWgpg
Icon=text-html
