[Desktop Entry]
Encoding=UTF-8
Name=Tectone/m4yE0x0zbLg/The_WORST_Part_of_Honkai_Star_Rail..._SALT_WARNING
Type=Link
URL=https://www.youtube.com/watch?v=m4yE0x0zbLg
Icon=text-html
