[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8XHr1fyV8FY/ZHONGLI_IS_COMING_AND_SO_AM_I_GENSHIN_IMPACT_ZHONGLI_XINYAN_REACTION
Type=Link
URL=https://www.youtube.com/watch?v=8XHr1fyV8FY
Icon=text-html
