[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8wiMZRI2UMM/Was_Jing_Yuan_Powercrept_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=8wiMZRI2UMM
Icon=text-html
