[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8kSWkwP_Ddg/Why_Genshin_gets_Worse_the_more_you_play_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=8kSWkwP_Ddg
Icon=text-html
