[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pMIzeRVG24s/Is_McCarthy_OP_BEST_PVP_LEGENDARY_ELUNE
Type=Link
URL=https://www.youtube.com/watch?v=pMIzeRVG24s
Icon=text-html
