[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ux21zdWGE0w/I_was_Right_about_Acheron_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=ux21zdWGE0w
Icon=text-html
