[Desktop Entry]
Encoding=UTF-8
Name=Tectone/vTBF4pjvxbs/Is_Eula_Garbage_now_Skip_on_her_banner
Type=Link
URL=https://www.youtube.com/watch?v=vTBF4pjvxbs
Icon=text-html
