[Desktop Entry]
Encoding=UTF-8
Name=Tectone/6c7Oql3spwU/The_Raiden_Shogun_Story_Left_Me_Speechless
Type=Link
URL=https://www.youtube.com/watch?v=6c7Oql3spwU
Icon=text-html
