[Desktop Entry]
Encoding=UTF-8
Name=Tectone/OLqGUaQ9dDo/F2P_s_can_t_clear_Pure_Fiction
Type=Link
URL=https://www.youtube.com/watch?v=OLqGUaQ9dDo
Icon=text-html
