[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/0pyGPK3fG4U/Your_Brain_Deletes_Your_Childhood_Memories
Type=Link
URL=https://www.youtube.com/watch?v=0pyGPK3fG4U
Icon=text-html
