[Desktop Entry]
Encoding=UTF-8
Name=Tectone/bMB63wcIDYg/There_is_a_One_Punch_Man_mobile_game
Type=Link
URL=https://www.youtube.com/watch?v=bMB63wcIDYg
Icon=text-html
