[Desktop Entry]
Encoding=UTF-8
Name=Tectone/HlvA9f4ecIU/The_ONE_Mistake_a_Genshin_Impact_Player_Should_Never_Make
Type=Link
URL=https://www.youtube.com/watch?v=HlvA9f4ecIU
Icon=text-html
