[Desktop Entry]
Encoding=UTF-8
Name=Tectone/xSeTazRYcLM/ZENLESS_ZONE_ZERO_CHANGED_MY_LIFE
Type=Link
URL=https://www.youtube.com/watch?v=xSeTazRYcLM
Icon=text-html
