[Desktop Entry]
Encoding=UTF-8
Name=Tectone/LfI6AYKFQ9s/NUCLEAR_DRAMA_GENUINELY_RESPECTFULLY..
Type=Link
URL=https://www.youtube.com/watch?v=LfI6AYKFQ9s
Icon=text-html
