[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/J8imlz6Lki8/Something_Travels_Faster_than_Light
Type=Link
URL=https://www.youtube.com/watch?v=J8imlz6Lki8
Icon=text-html
