[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GOzGznKfqJE/DON_T_PULL_FOR_YAE_MIKO_GAME_BREAKING_BUG
Type=Link
URL=https://www.youtube.com/watch?v=GOzGznKfqJE
Icon=text-html
