[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ycUNpuug8OY/This_is_a_HUGE_Problem
Type=Link
URL=https://www.youtube.com/watch?v=ycUNpuug8OY
Icon=text-html
