[Desktop Entry]
Encoding=UTF-8
Name=Tectone/64Dz9u3J44U/Damage_so_high_it_ll_cure_your_Depression
Type=Link
URL=https://www.youtube.com/watch?v=64Dz9u3J44U
Icon=text-html
