[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KtQWeRSc5V4/IMPOSSIBLE_LUCK_GENSHIN_IMPACT_SUMMONS
Type=Link
URL=https://www.youtube.com/watch?v=KtQWeRSc5V4
Icon=text-html
