[Desktop Entry]
Encoding=UTF-8
Name=Tectone/t5pv7YHDKDo/My_HONEST_THOUGHTS_Of_Zenless_Zone_Zero_After_24_Hours
Type=Link
URL=https://www.youtube.com/watch?v=t5pv7YHDKDo
Icon=text-html
