[Desktop Entry]
Encoding=UTF-8
Name=Tectone/lJTRPZBDHWc/The_Honkai_Drama_NO_ONE_Talks_About_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=lJTRPZBDHWc
Icon=text-html
