[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ysUHV-nSKZA/APPEAL_DENIED._SO_IM_LIVE._STILL_BANNED.
Type=Link
URL=https://www.youtube.com/watch?v=ysUHV-nSKZA
Icon=text-html
