[Desktop Entry]
Encoding=UTF-8
Name=Tectone/4XagVjwSV7U/Honkai_Star_Rail_3.0_Will_Change_EVERYTHING
Type=Link
URL=https://www.youtube.com/watch?v=4XagVjwSV7U
Icon=text-html
