[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Ro_V9wGEQso/World_6_Simulated_Universe_E0_100%_F2P_Clear_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=Ro_V9wGEQso
Icon=text-html
