[Desktop Entry]
Encoding=UTF-8
Name=Tectone/G-_4gMUoOYw/10_COMMON_MISTAKES_BEGINNERS_MAKE_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=G-_4gMUoOYw
Icon=text-html
