[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fQNQ1my21AM/I_Beat_Wuthering_Waves_BLINDFOLDED_with_Brant
Type=Link
URL=https://www.youtube.com/watch?v=fQNQ1my21AM
Icon=text-html
