[Desktop Entry]
Encoding=UTF-8
Name=Tectone/S2NL58e-Wdg/WHAT_THE_F_CK_IS_THIS
Type=Link
URL=https://www.youtube.com/watch?v=S2NL58e-Wdg
Icon=text-html
