[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/dxRB4sdbIcw/The_Nightmare_Artist
Type=Link
URL=https://www.youtube.com/watch?v=dxRB4sdbIcw
Icon=text-html
