[Desktop Entry]
Encoding=UTF-8
Name=Tectone/D14Kcckp29k/Why_She_Quit_Playing_Gacha
Type=Link
URL=https://www.youtube.com/watch?v=D14Kcckp29k
Icon=text-html
