[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GRYBo-FsD0A/THE_WEIRDEST_ROLLS_FOR_BLADE_YOULL_EVER_SEE_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=GRYBo-FsD0A
Icon=text-html
