[Desktop Entry]
Encoding=UTF-8
Name=Tectone/dlr5ppONV_k/Mtashed_the_hero_Came_Back_and_Tectone_the_villain_Crashed_Out_Immediately
Type=Link
URL=https://www.youtube.com/watch?v=dlr5ppONV_k
Icon=text-html
