[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0Ujz6rK0jW8/Genshin_Impact_Player_Says_Blue_Protocol_WILL_FAIL_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=0Ujz6rK0jW8
Icon=text-html
