[Desktop Entry]
Encoding=UTF-8
Name=Tectone/tsqpH-ltvHc/WITNESS_THE_GODS_DESCENDING_FOR_THESE_SUMMONS_ARKNIGHTS
Type=Link
URL=https://www.youtube.com/watch?v=tsqpH-ltvHc
Icon=text-html
