[Desktop Entry]
Encoding=UTF-8
Name=Tectone/olZFe4ciVmY/Genshin_Impact_Fandoms_In_a_Nutshell_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=olZFe4ciVmY
Icon=text-html
