[Desktop Entry]
Encoding=UTF-8
Name=Tectone/45LVokLJby4/About_The_Robin_Drama...
Type=Link
URL=https://www.youtube.com/watch?v=45LVokLJby4
Icon=text-html
