[Desktop Entry]
Encoding=UTF-8
Name=Tectone/-lJ9ms1PjGg/Wuthering_Waves_Already_Has_Drama
Type=Link
URL=https://www.youtube.com/watch?v=-lJ9ms1PjGg
Icon=text-html
