[Desktop Entry]
Encoding=UTF-8
Name=Tectone/wxKFTeqZXEU/10_COMMON_MISTAKES_BEGINNERS_MAKE_Ulala
Type=Link
URL=https://www.youtube.com/watch?v=wxKFTeqZXEU
Icon=text-html
