[Desktop Entry]
Encoding=UTF-8
Name=Tectone/J-9LrBDPbTk/EVERY_4_STAR_WORTH_PULLING_FOR_AS_A_F2P_IN_HONKAI_STAR_RAIL
Type=Link
URL=https://www.youtube.com/watch?v=J-9LrBDPbTk
Icon=text-html
