[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ItpQt2c14I0/I_ROLLED_KAFKA_FOR_A_VIEWER_AND_IT_WAS_CRAZY_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=ItpQt2c14I0
Icon=text-html
