[Desktop Entry]
Encoding=UTF-8
Name=Tectone/L2bFgxluXjk/Smash_or_Pass_-_All_49_Main_Genshin_Characters
Type=Link
URL=https://www.youtube.com/watch?v=L2bFgxluXjk
Icon=text-html
