[Desktop Entry]
Encoding=UTF-8
Name=Tectone/wqcbTLnsOeU/WHY_HOYOVERSE_IS_SUING_THIS_GAME
Type=Link
URL=https://www.youtube.com/watch?v=wqcbTLnsOeU
Icon=text-html
