[Desktop Entry]
Encoding=UTF-8
Name=Tectone/yezjsalLYjQ/YELAN_IS_FINALLY_HERE_GENSHIN_2.6_BANNER_REVIEW
Type=Link
URL=https://www.youtube.com/watch?v=yezjsalLYjQ
Icon=text-html
