[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/5iPH-br_eJQ/What_if_We_Nuke_a_City
Type=Link
URL=https://www.youtube.com/watch?v=5iPH-br_eJQ
Icon=text-html
