[Desktop Entry]
Encoding=UTF-8
Name=Tectone/MRLGMChNNYs/WORLDS_FATTEST_STREAMER_FROGAN_CRASHES_OUT_HARD
Type=Link
URL=https://www.youtube.com/watch?v=MRLGMChNNYs
Icon=text-html
