[Desktop Entry]
Encoding=UTF-8
Name=Tectone/IKQYImfbUrg/GENSHIN_IMPACT_SLANDER_THAT_ALMOST_MADE_ME_REINSTALL_THE_GAME_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=IKQYImfbUrg
Icon=text-html
