[Desktop Entry]
Encoding=UTF-8
Name=Tectone/4pvSoy2zR6o/WUTHERING_WAVES_IS_DESTROYING_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=4pvSoy2zR6o
Icon=text-html
