[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KpWd8qSAtiU/Re_-_Atsu_is_a_Horrible_Manipulative_Deranged_Human_Being
Type=Link
URL=https://www.youtube.com/watch?v=KpWd8qSAtiU
Icon=text-html
