[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1gBFn1w3XPY/BREAKING_-_HOW_TO_GET_A_FREE_5_STAR_OF_YOUR_CHOICE_IN_WUTHERING_WAVES
Type=Link
URL=https://www.youtube.com/watch?v=1gBFn1w3XPY
Icon=text-html
