[Desktop Entry]
Encoding=UTF-8
Name=Tectone/gpDhtSZjvOs/Why_HoYoverse_Content_Creators_Won_t_Play_Wuthering_Waves
Type=Link
URL=https://www.youtube.com/watch?v=gpDhtSZjvOs
Icon=text-html
