[Desktop Entry]
Encoding=UTF-8
Name=Tectone/DzjtxcjvYG4/I_Talked_to_the_Gacha_Crashout_King
Type=Link
URL=https://www.youtube.com/watch?v=DzjtxcjvYG4
Icon=text-html
