[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Va-wiOhfwWI/MILLIONS_OF_PLAYERS_THREATENING_TO_QUIT_GENSHIN_IMPACT_1.4
Type=Link
URL=https://www.youtube.com/watch?v=Va-wiOhfwWI
Icon=text-html
