[Desktop Entry]
Encoding=UTF-8
Name=Tectone/46KJ2_Wcigo/How_He_Became_The_MOST_Hated_Vtuber
Type=Link
URL=https://www.youtube.com/watch?v=46KJ2_Wcigo
Icon=text-html
