[Desktop Entry]
Encoding=UTF-8
Name=Tectone/as5yhPce_Zw/NEW_MISTAKES_MOST_PLAYERS_MADE_ON_HONKAI_STAR_RAIL_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=as5yhPce_Zw
Icon=text-html
