[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fCFseLLa_ak/I_m_Never_Talking_To_A_Woman_Again.
Type=Link
URL=https://www.youtube.com/watch?v=fCFseLLa_ak
Icon=text-html
