[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/pjoQdz0nxf4/How_The_Dinosaurs_Actually_Died
Type=Link
URL=https://www.youtube.com/watch?v=pjoQdz0nxf4
Icon=text-html
