[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GauYC_s55fE/Can_I_Finally_Summon_Staff_of_Homa_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=GauYC_s55fE
Icon=text-html
