[Desktop Entry]
Encoding=UTF-8
Name=Tectone/790yEy6AF7k/ASMONGOLD_GOT_CALLED_OUT_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=790yEy6AF7k
Icon=text-html
