[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/tRXy-b6_lBc/What_If_It_Rains_Bananas_For_A_Single_Day_Spoiler_-_It_s_Bad
Type=Link
URL=https://www.youtube.com/watch?v=tRXy-b6_lBc
Icon=text-html
