[Desktop Entry]
Encoding=UTF-8
Name=Tectone/sPpBP3sMbRs/Quitting_Genshin_Impact_Saved_Her_Life..
Type=Link
URL=https://www.youtube.com/watch?v=sPpBP3sMbRs
Icon=text-html
