[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/tlTKTTt47WE/Is_Reality_Real_The_Simulation_Argument
Type=Link
URL=https://www.youtube.com/watch?v=tlTKTTt47WE
Icon=text-html
