[Desktop Entry]
Encoding=UTF-8
Name=Tectone/eJaTFAgqoqE/THE_GENSHIN_-LEAK-_THAT_RUINED_ARATAKI_ITTO
Type=Link
URL=https://www.youtube.com/watch?v=eJaTFAgqoqE
Icon=text-html
