[Desktop Entry]
Encoding=UTF-8
Name=Tectone/J3rGm4Q9cEs/BRUCE_LEE_IS_MY_GOD_AND_I_AM_HIS_WARRIOR
Type=Link
URL=https://www.youtube.com/watch?v=J3rGm4Q9cEs
Icon=text-html
