[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/XFM4tCakAXY/Let_s_Make_Earth_Twice_as_Large
Type=Link
URL=https://www.youtube.com/watch?v=XFM4tCakAXY
Icon=text-html
