[Desktop Entry]
Encoding=UTF-8
Name=Tectone/O8EoZpPgnfM/Should_Genshin_Impact_Be_Worried_About_Wuthering_Waves
Type=Link
URL=https://www.youtube.com/watch?v=O8EoZpPgnfM
Icon=text-html
