[Desktop Entry]
Encoding=UTF-8
Name=Tectone/toTMBGzjFo4/GENSHIN_PLAYERS_CRASHED_OUT_OVER_THIS_IN_WUTHERING_WAVES
Type=Link
URL=https://www.youtube.com/watch?v=toTMBGzjFo4
Icon=text-html
