[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GFp0IkSqINg/Twitch_f_cked_up..._AGAIN
Type=Link
URL=https://www.youtube.com/watch?v=GFp0IkSqINg
Icon=text-html
