[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pzciO-5IQcY/THE_MOST_DEGENERATE_GACHA_GAME_OF_ALL_TIME_CHANGED_MY_LIFE
Type=Link
URL=https://www.youtube.com/watch?v=pzciO-5IQcY
Icon=text-html
