[Desktop Entry]
Encoding=UTF-8
Name=Tectone/k7J-n3lTfOY/WHY_MEN_GAVE_UP_TALKING_TO_WOMEN
Type=Link
URL=https://www.youtube.com/watch?v=k7J-n3lTfOY
Icon=text-html
