[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9VxAJrCW-Yg/BRANT_COULD_CHANGE_EVERYTHING_IN_WUTHERING_WAVES
Type=Link
URL=https://www.youtube.com/watch?v=9VxAJrCW-Yg
Icon=text-html
