[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8RLm1jXXP8c/NEW_SUMMER_SKINS_REVIEWED_AND_RATED
Type=Link
URL=https://www.youtube.com/watch?v=8RLm1jXXP8c
Icon=text-html
