[Desktop Entry]
Encoding=UTF-8
Name=Tectone/M1gN4XflATY/I_m_120%_going_to_play_this_gacha_game..
Type=Link
URL=https://www.youtube.com/watch?v=M1gN4XflATY
Icon=text-html
