[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Q2iXLeiJBHw/Is_Wuthering_Waves_Lying_to_Us
Type=Link
URL=https://www.youtube.com/watch?v=Q2iXLeiJBHw
Icon=text-html
