[Desktop Entry]
Encoding=UTF-8
Name=Tectone/MVP1HkBFybY/WHAT_300_GETS_YOU_IN_TOWER_OF_FANTASY_SUMMONS_INSANE_LUCK
Type=Link
URL=https://www.youtube.com/watch?v=MVP1HkBFybY
Icon=text-html
