[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8YdhRdeIjnk/HOW_TO_DO_100x_MORE_DAMAGE_THE_BEST_HONKAI_STAR_RAIL_VIDEO_YOU_LL_EVER_WATCH_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=8YdhRdeIjnk
Icon=text-html
