[Desktop Entry]
Encoding=UTF-8
Name=Tectone/nFBVi3xFL8A/CONFIRMED_ZHONGLI_AND_EVERY_GEO_USER_GETTING_HUGE_BUFF_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=nFBVi3xFL8A
Icon=text-html
