[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9hf2owoNQ_8/My_Dad_Found_My_Youtube_Channel
Type=Link
URL=https://www.youtube.com/watch?v=9hf2owoNQ_8
Icon=text-html
