[Desktop Entry]
Encoding=UTF-8
Name=Tectone/iJbwMVtV0JQ/The_Stupidest_Take_on_the_Genshin_Impact_Community_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=iJbwMVtV0JQ
Icon=text-html
