[Desktop Entry]
Encoding=UTF-8
Name=Tectone/xDJFzYRvMIE/I_Was_Wrong..._The_New_Event_Did_NOT_Save_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=xDJFzYRvMIE
Icon=text-html
