[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/UjAJ2jKH_QM/Why_Do_We_Itch
Type=Link
URL=https://www.youtube.com/watch?v=UjAJ2jKH_QM
Icon=text-html
