[Desktop Entry]
Encoding=UTF-8
Name=Tectone/qg0sFxzTASY/WARNING_TARTAGLIA_VS_VENTI_BANNER_-_WHICH_IS_MORE_WORTH_+_Weapons
Type=Link
URL=https://www.youtube.com/watch?v=qg0sFxzTASY
Icon=text-html
