[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/MUWUHf-rzks/How_to_Make_an_Elephant_Explode_The_Size_of_Life_2
Type=Link
URL=https://www.youtube.com/watch?v=MUWUHf-rzks
Icon=text-html
