[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Xn2QwEW84aU/YOUTUBE_APOLOGIZES_FUTURE_OF_YOUTUBE_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=Xn2QwEW84aU
Icon=text-html
