[Desktop Entry]
Encoding=UTF-8
Name=Tectone/T62KR4i8N64/The_Current_State_Of_Honkai_Star_Rail_Is...
Type=Link
URL=https://www.youtube.com/watch?v=T62KR4i8N64
Icon=text-html
