[Desktop Entry]
Encoding=UTF-8
Name=Tectone/02s725j0eCY/This_Game_Changed_My_Life
Type=Link
URL=https://www.youtube.com/watch?v=02s725j0eCY
Icon=text-html
