[Desktop Entry]
Encoding=UTF-8
Name=Tectone/_3MlnlC1YLE/Castorice_Global_Passive_is_Not_That_Bad
Type=Link
URL=https://www.youtube.com/watch?v=_3MlnlC1YLE
Icon=text-html
