[Desktop Entry]
Encoding=UTF-8
Name=Tectone/BwPxaiDvEGo/MY_MOST_DISLIKED_VIDEO_EVER
Type=Link
URL=https://www.youtube.com/watch?v=BwPxaiDvEGo
Icon=text-html
