[Desktop Entry]
Encoding=UTF-8
Name=Tectone/xlTUwD2ub0E/4.6_AND_ARLECCHINO_LOOK_INSANE_Genshin_Impact_Version_4.6_Special_Program_Reaction
Type=Link
URL=https://www.youtube.com/watch?v=xlTUwD2ub0E
Icon=text-html
