[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0yEOlmWyfaU/I_Did_the_Story_Quest_Just_For_This..
Type=Link
URL=https://www.youtube.com/watch?v=0yEOlmWyfaU
Icon=text-html
