[Desktop Entry]
Encoding=UTF-8
Name=Tectone/BmRJXlbnZnw/The_Depth_of_This_Drama_Got_So_Much_Worse..
Type=Link
URL=https://www.youtube.com/watch?v=BmRJXlbnZnw
Icon=text-html
