[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XWn08g5lBCQ/CONSTELLATION_TRAP_RUINS_THESE_CHARACTERS_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=XWn08g5lBCQ
Icon=text-html
