[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fT0-pV7MvcU/WUTHERING_WAVES_PATCH_1.1_FIXES_EVERYTHING_Patch_Notes_Reaction
Type=Link
URL=https://www.youtube.com/watch?v=fT0-pV7MvcU
Icon=text-html
