[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/-O5kNPlUV7w/Why_Beautiful_Things_Make_us_Happy_Beauty_Explained
Type=Link
URL=https://www.youtube.com/watch?v=-O5kNPlUV7w
Icon=text-html
