[Desktop Entry]
Encoding=UTF-8
Name=Tectone/IBGYTekcq2M/The_Genshin_Impact_VA_Strike_has_Officially_Failed..
Type=Link
URL=https://www.youtube.com/watch?v=IBGYTekcq2M
Icon=text-html
