[Desktop Entry]
Encoding=UTF-8
Name=Tectone/7dJDgCVLauE/The_Best_Genshin_Impact_Creator_Quit_Because_of_Me..
Type=Link
URL=https://www.youtube.com/watch?v=7dJDgCVLauE
Icon=text-html
