[Desktop Entry]
Encoding=UTF-8
Name=Tectone/i2Y_Qg7oIW0/GLADIATOR_PVE_CLASS_GUIDE_-_WHY_YOU_SHOULD_PLAY_GLADIATOR_ULALA_IDLE_ADVENTURE
Type=Link
URL=https://www.youtube.com/watch?v=i2Y_Qg7oIW0
Icon=text-html
