[Desktop Entry]
Encoding=UTF-8
Name=Tectone/w6iB_JVwjBw/LAWYER_LAYS_DOWN_THE_LAW_ON_HASAN
Type=Link
URL=https://www.youtube.com/watch?v=w6iB_JVwjBw
Icon=text-html
