[Desktop Entry]
Encoding=UTF-8
Name=Tectone/kIYpY5JsEWs/GENSHIN_IMPACT_CBT_First_impressions_A_peek_into_the_future_of_mobile_games
Type=Link
URL=https://www.youtube.com/watch?v=kIYpY5JsEWs
Icon=text-html
