[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9zZmCZ8cl8k/Am_I_Destroying_Other_Channels_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=9zZmCZ8cl8k
Icon=text-html
