[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8us-w1QeL1g/Another_Genshin_Creator_Contract_Leaked...
Type=Link
URL=https://www.youtube.com/watch?v=8us-w1QeL1g
Icon=text-html
