[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/B3QTAgHlwEg/These_Ants_Use_Their_Babies_As_Glue_Guns
Type=Link
URL=https://www.youtube.com/watch?v=B3QTAgHlwEg
Icon=text-html
