[Desktop Entry]
Encoding=UTF-8
Name=Tectone/r-gVGEJqahw/Everytime_You_Criticize_Genshin_Impact_THIS_Happens.
Type=Link
URL=https://www.youtube.com/watch?v=r-gVGEJqahw
Icon=text-html
