[Desktop Entry]
Encoding=UTF-8
Name=Tectone/hgKFAhI3hKs/FREE_PET_FROM_NEW_EVENT_+_GANYU_KIT_CONFIRMED_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=hgKFAhI3hKs
Icon=text-html
