[Desktop Entry]
Encoding=UTF-8
Name=Tectone/km9liA_Ya6s/The_Most_Delusional_Gacha_Creator_Keeps_Yapping
Type=Link
URL=https://www.youtube.com/watch?v=km9liA_Ya6s
Icon=text-html
