[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/ulCdoCfw-bY/The_Black_Hole_Bomb_and_Black_Hole_Civilizations
Type=Link
URL=https://www.youtube.com/watch?v=ulCdoCfw-bY
Icon=text-html
