[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/_z7DkeP5WNg/Our_Brains_Are_Not_Special._But_Why_Are_We
Type=Link
URL=https://www.youtube.com/watch?v=_z7DkeP5WNg
Icon=text-html
