[Desktop Entry]
Encoding=UTF-8
Name=Tectone/imnuUQkxD84/NEW_GENSHIN_CHARACTER_DIVIDES_THE_COMMUNITY
Type=Link
URL=https://www.youtube.com/watch?v=imnuUQkxD84
Icon=text-html
