[Desktop Entry]
Encoding=UTF-8
Name=Tectone/evsmUaGU0i8/OH_GOD_WHAT_HAPPENED_NOW_WUTHERING_WAVES_ANNIVERSARY_+_VTUBER_FALLOUT+
Type=Link
URL=https://www.youtube.com/watch?v=evsmUaGU0i8
Icon=text-html
