[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UVAIJsq1kc8/ELUNE_NEW_INFO_-_NEW_GEAR_GEAR_FUSION_WORLD_BOSS_MOBIUS_DUNGEON_FREE_SKILL_BOOKS_AND_MORE
Type=Link
URL=https://www.youtube.com/watch?v=UVAIJsq1kc8
Icon=text-html
