[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pfXaEVhHLKo/HONKAI_STAR_RAIL_DESTROYS_GENSHIN_IMPACT_100_MILLION_IN_REVENUE
Type=Link
URL=https://www.youtube.com/watch?v=pfXaEVhHLKo
Icon=text-html
