[Desktop Entry]
Encoding=UTF-8
Name=Tectone/l01d20zELDU/she_shouldnt_have_said_that
Type=Link
URL=https://www.youtube.com/watch?v=l01d20zELDU
Icon=text-html
