[Desktop Entry]
Encoding=UTF-8
Name=Tectone/aMDlbTx5it0/Hasan_is_Risking_Everything_Now..
Type=Link
URL=https://www.youtube.com/watch?v=aMDlbTx5it0
Icon=text-html
