[Desktop Entry]
Encoding=UTF-8
Name=Tectone/bDA4EtUq7hk/AWFUL_WHALE_ACCOUNT_FIXED_FOR_0_IN_HONKAI_STAR_RAIL
Type=Link
URL=https://www.youtube.com/watch?v=bDA4EtUq7hk
Icon=text-html
