[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/S7TUe5w6RHo/4.5_Billion_Years_in_1_Hour
Type=Link
URL=https://www.youtube.com/watch?v=S7TUe5w6RHo
Icon=text-html
