[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XUjq-x0fwh4/THE_REAL_REASON_WUTHERING_WAVES_REVENUE_DROPPED_BY_50%
Type=Link
URL=https://www.youtube.com/watch?v=XUjq-x0fwh4
Icon=text-html
