[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/Qsbe1pD8ocE/The_Horror_of_the_Slaver_Ant
Type=Link
URL=https://www.youtube.com/watch?v=Qsbe1pD8ocE
Icon=text-html
