[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Y-ZzQSLq5Sw/F2P_TRENT_10_CLEAR_WORKS_FOR_ALL_STAGES_-_ELUNE
Type=Link
URL=https://www.youtube.com/watch?v=Y-ZzQSLq5Sw
Icon=text-html
