[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/9P6rdqiybaw/Wormholes_Explained_Breaking_Spacetime
Type=Link
URL=https://www.youtube.com/watch?v=9P6rdqiybaw
Icon=text-html
