[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1dPZak0DnX8/I_Paid_Genshin_Creators_1000_to_EXPOSE_each_other_Genshin_Guesser_Ep._1
Type=Link
URL=https://www.youtube.com/watch?v=1dPZak0DnX8
Icon=text-html
