[Desktop Entry]
Encoding=UTF-8
Name=Tectone/X8LcHODaEWg/GETTING_HACKED_DURING_HU_TAO_WISHES_WITH_FREE_PRIMOGEMS
Type=Link
URL=https://www.youtube.com/watch?v=X8LcHODaEWg
Icon=text-html
