[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9mMwIgJ3cig/POV_You_re_A_Delivery_Boy_In_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=9mMwIgJ3cig
Icon=text-html
