[Desktop Entry]
Encoding=UTF-8
Name=Tectone/LZaQxwtY5-g/BLUE_ARCHIVE_PV_+_GAMEPLAY_-LEAK-_CBT_LOOKS_CLEAN
Type=Link
URL=https://www.youtube.com/watch?v=LZaQxwtY5-g
Icon=text-html
