[Desktop Entry]
Encoding=UTF-8
Name=Tectone/smu2aIg_MQI/I_m_Going_to_Scam_MiHoYo.
Type=Link
URL=https://www.youtube.com/watch?v=smu2aIg_MQI
Icon=text-html
