[Desktop Entry]
Encoding=UTF-8
Name=Tectone/l8MEJMIrJh8/Yae_Miko_is_going_to_need_WHAT
Type=Link
URL=https://www.youtube.com/watch?v=l8MEJMIrJh8
Icon=text-html
