[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/E1KkQrFEl2I/How_Large_Can_a_Bacteria_get_Life_Size_3
Type=Link
URL=https://www.youtube.com/watch?v=E1KkQrFEl2I
Icon=text-html
