[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/dGiQaabX3_o/What_Happened_Before_History_Human_Origins
Type=Link
URL=https://www.youtube.com/watch?v=dGiQaabX3_o
Icon=text-html
