[Desktop Entry]
Encoding=UTF-8
Name=Tectone/SBZJAOpxV0I/I_SUMMONED_FOR_MY_VIEWERS_IN_HONKAI_STAR_RAIL
Type=Link
URL=https://www.youtube.com/watch?v=SBZJAOpxV0I
Icon=text-html
