[Desktop Entry]
Encoding=UTF-8
Name=Tectone/17hiZBCHMxg/KILLING_DVALIN_IN_1-SHOT_accidentally_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=17hiZBCHMxg
Icon=text-html
