[Desktop Entry]
Encoding=UTF-8
Name=Tectone/-VAj0hcOHHw/NVIDIA_SCAMMED_ALL_OF_US
Type=Link
URL=https://www.youtube.com/watch?v=-VAj0hcOHHw
Icon=text-html
