[Desktop Entry]
Encoding=UTF-8
Name=Tectone/2HP2cR7ZE9k/2.6_PATCH_NOTES_HAVE_HIDDEN_BUFF
Type=Link
URL=https://www.youtube.com/watch?v=2HP2cR7ZE9k
Icon=text-html
