[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/sz5HIOJGOLI/Why_The_Exorcist_is_Still_the_Scariest_Film_Ever_Made
Type=Link
URL=https://www.youtube.com/watch?v=sz5HIOJGOLI
Icon=text-html
