[Desktop Entry]
Encoding=UTF-8
Name=Tectone/snmy1DqyFoI/The_Genshin_Impact_Cyno_Drama...
Type=Link
URL=https://www.youtube.com/watch?v=snmy1DqyFoI
Icon=text-html
