[Desktop Entry]
Encoding=UTF-8
Name=Tectone/sq745qqwPEo/Asmongold_Got_Cancelled_Over_This...
Type=Link
URL=https://www.youtube.com/watch?v=sq745qqwPEo
Icon=text-html
