[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/JyECrGp-Sw8/What_If_We_Detonated_All_Nuclear_Bombs_at_Once
Type=Link
URL=https://www.youtube.com/watch?v=JyECrGp-Sw8
Icon=text-html
