[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1msPvJME7no/I_Reviewed_My_First_F2P_Viewer_Account_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=1msPvJME7no
Icon=text-html
