[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fiIPvwuE2ck/POKIMANE_ONCE_AGAIN_F_CKED_UP
Type=Link
URL=https://www.youtube.com/watch?v=fiIPvwuE2ck
Icon=text-html
