[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/8PmM6SUn7Es/Is_Organic_Really_Better_Healthy_Food_or_Trendy_Scam
Type=Link
URL=https://www.youtube.com/watch?v=8PmM6SUn7Es
Icon=text-html
