[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XQYzRlE8S4A/Honkai_Star_Rail_PS5_Release_Date_Confirmed_PlayStation_State_Of_Play_Reaction_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=XQYzRlE8S4A
Icon=text-html
