[Desktop Entry]
Encoding=UTF-8
Name=Tectone/OetVYLdDwHQ/FINISHING_HONKAI_STAR_RAIL_MAIN_QUEST_DRAMA_GAMING_REACTING
Type=Link
URL=https://www.youtube.com/watch?v=OetVYLdDwHQ
Icon=text-html
