[Desktop Entry]
Encoding=UTF-8
Name=Tectone/DRAolK31LB8/Why_Everyone_is_leaving_Vtuber_Agencies
Type=Link
URL=https://www.youtube.com/watch?v=DRAolK31LB8
Icon=text-html
