[Desktop Entry]
Encoding=UTF-8
Name=Tectone/MZrsLc71DWE/The_First_AI_streamer_is..._AI_BigFoot
Type=Link
URL=https://www.youtube.com/watch?v=MZrsLc71DWE
Icon=text-html
