[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/sNhhvQGsMEc/The_Fermi_Paradox_Where_Are_All_The_Aliens_1_2
Type=Link
URL=https://www.youtube.com/watch?v=sNhhvQGsMEc
Icon=text-html
