[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/M-K7mxdN62M/What_Actually_Happens_When_You_Are_Sick
Type=Link
URL=https://www.youtube.com/watch?v=M-K7mxdN62M
Icon=text-html
