[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/oTx-GSF3cts/This_Video_Might_Save_58_Lives_Next_Week
Type=Link
URL=https://www.youtube.com/watch?v=oTx-GSF3cts
Icon=text-html
