[Desktop Entry]
Encoding=UTF-8
Name=Tectone/V9TjMNqBfGk/The_Genshin_Impact_Controversy_that_is_taking_over_Twitter
Type=Link
URL=https://www.youtube.com/watch?v=V9TjMNqBfGk
Icon=text-html
