[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fijQkuwUm8M/HONKAI_STAR_RAIL_HAS_SURPASSED_GENSHIN_IMPACT_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=fijQkuwUm8M
Icon=text-html
