[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Kc98iQu0Uo8/WUTHERING_WAVES_HATERS_JUST_GOT_CALLED_OUT_HARD
Type=Link
URL=https://www.youtube.com/watch?v=Kc98iQu0Uo8
Icon=text-html
