[Desktop Entry]
Encoding=UTF-8
Name=Tectone/BoonnoLHFPk/WHAT_HONKAI_STAR_RAIL_CLASS_ARE_YOU_QUIZ
Type=Link
URL=https://www.youtube.com/watch?v=BoonnoLHFPk
Icon=text-html
