[Desktop Entry]
Encoding=UTF-8
Name=Tectone/w9YLBFhdoww/Hoyoverse_RUINED_the_Most_Bitter_Man_In_Gacha_Gaming
Type=Link
URL=https://www.youtube.com/watch?v=w9YLBFhdoww
Icon=text-html
