[Desktop Entry]
Encoding=UTF-8
Name=Tectone/yZ_jcyNYQOY/Which_GUARANTEED_5_Star_Should_You_Choose_In_Wuthering_Waves
Type=Link
URL=https://www.youtube.com/watch?v=yZ_jcyNYQOY
Icon=text-html
