[Desktop Entry]
Encoding=UTF-8
Name=Tectone/z1Ng6MuVxbU/IS_THE_BLAZE_BANNER_GOOD_OR_IS_IT_JUST_BLAZE_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=z1Ng6MuVxbU
Icon=text-html
