[Desktop Entry]
Encoding=UTF-8
Name=Tectone/B0bFqt6GPxk/Genshin_Impact_Community_is_Imploding
Type=Link
URL=https://www.youtube.com/watch?v=B0bFqt6GPxk
Icon=text-html
