[Desktop Entry]
Encoding=UTF-8
Name=Tectone/I9gzYMsCbGw/The_Good_the_Bad_and_the_Ugly_of_SINoALICE
Type=Link
URL=https://www.youtube.com/watch?v=I9gzYMsCbGw
Icon=text-html
