[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fmMQeItMSCs/This_is_Very_Concerning..
Type=Link
URL=https://www.youtube.com/watch?v=fmMQeItMSCs
Icon=text-html
