[Desktop Entry]
Encoding=UTF-8
Name=Tectone/B6QU4sVF1gc/C6_YOIMIYA_IS_TERRIBLE_AND_NEEDS_A_BUFF
Type=Link
URL=https://www.youtube.com/watch?v=B6QU4sVF1gc
Icon=text-html
