[Desktop Entry]
Encoding=UTF-8
Name=Tectone/5OnxR7pYITY/MY_TIGHNARI_SUMMONS_WERE_INSANE_+_JESSICA_NIGRI_AND_EMIRU_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=5OnxR7pYITY
Icon=text-html
