[Desktop Entry]
Encoding=UTF-8
Name=Tectone/i8IHxxCPP5E/DA_WEI_INTERVIEW_REVEALS_HE_HATES_WHAT_HONKAI_STAR_RAIL_HAS_BECOME
Type=Link
URL=https://www.youtube.com/watch?v=i8IHxxCPP5E
Icon=text-html
