[Desktop Entry]
Encoding=UTF-8
Name=Tectone/vab_TflsY10/I_talked_to_the_Genshin_Community
Type=Link
URL=https://www.youtube.com/watch?v=vab_TflsY10
Icon=text-html
