[Desktop Entry]
Encoding=UTF-8
Name=Tectone/bX1InzFM5RE/RUAN_MEI_FIRST_SSS_TIER_UNIT_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=bX1InzFM5RE
Icon=text-html
