[Desktop Entry]
Encoding=UTF-8
Name=Tectone/OHU1wUOpRlg/I_GOT_HER_EVERY_UNIT_SHE_WANTED_INSANE_LUCK_FEAT._EMIRU
Type=Link
URL=https://www.youtube.com/watch?v=OHU1wUOpRlg
Icon=text-html
