[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8APV01PEMmU/The_Zhongli_Drama_Was_A_Crazy_Time..._Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=8APV01PEMmU
Icon=text-html
