[Desktop Entry]
Encoding=UTF-8
Name=Tectone/PLwdgqJl5is/How_to_get_48_000_Jades_100%_F2P_AND_HUGE_WARNING_WITH_THEM_Honkai_-_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=PLwdgqJl5is
Icon=text-html
