[Desktop Entry]
Encoding=UTF-8
Name=Tectone/zAH02c0I_Hc/CREW_FREAKS_OUT_So_I_300_IQ_HARD_CARRY_Ft._TheAMaazing_Chillypanda_TierZoo_CypherDen_AMONG_US
Type=Link
URL=https://www.youtube.com/watch?v=zAH02c0I_Hc
Icon=text-html
