[Desktop Entry]
Encoding=UTF-8
Name=Tectone/G2CyIhp0FSY/Nuisance_Youtuber_is_Getting_F_ked_in_Prison..
Type=Link
URL=https://www.youtube.com/watch?v=G2CyIhp0FSY
Icon=text-html
