[Desktop Entry]
Encoding=UTF-8
Name=Tectone/HBONDSxyU78/Asmongold_Almost_Died_Yesterday..
Type=Link
URL=https://www.youtube.com/watch?v=HBONDSxyU78
Icon=text-html
