[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UFMCFqhv_lU/WUTHERING_WAVES_DEVELOPERS_LISTENED_AND_FIXED_EVERYTHING
Type=Link
URL=https://www.youtube.com/watch?v=UFMCFqhv_lU
Icon=text-html
