[Desktop Entry]
Encoding=UTF-8
Name=Tectone/lMpslegz5BM/Oh_No..._I_pulled_For_Adventurine_but...
Type=Link
URL=https://www.youtube.com/watch?v=lMpslegz5BM
Icon=text-html
