[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GtCkPuZFmHo/Honkai_Star_Rail_Story_Just_Got_Dark...
Type=Link
URL=https://www.youtube.com/watch?v=GtCkPuZFmHo
Icon=text-html
