[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rtdWnu2Kquo/Tectone_Trying_to_be_Brand_Safe_while_Playing_NIkke_for_20_Minutes
Type=Link
URL=https://www.youtube.com/watch?v=rtdWnu2Kquo
Icon=text-html
