[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ZsSWdEVN8Eg/Wuthering_Waves_Is_Going_To_Fail
Type=Link
URL=https://www.youtube.com/watch?v=ZsSWdEVN8Eg
Icon=text-html
