[Desktop Entry]
Encoding=UTF-8
Name=Tectone/4MYOpFfyDbI/Did_Genshin_Impact_Kill_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=4MYOpFfyDbI
Icon=text-html
