[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fjTe28BLGfI/The_Worst_Thing_Possible_Just_Happened_To_Genshin_Impact_Players...
Type=Link
URL=https://www.youtube.com/watch?v=fjTe28BLGfI
Icon=text-html
