[Desktop Entry]
Encoding=UTF-8
Name=Tectone/q7_hC31g9GI/MIHOYO_IS_PULLING_OUT_OF_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=q7_hC31g9GI
Icon=text-html
