[Desktop Entry]
Encoding=UTF-8
Name=Tectone/2pzEw8oBbTE/GENSHIN_IMPACT_DENDRO_ARCHON_LEAKED
Type=Link
URL=https://www.youtube.com/watch?v=2pzEw8oBbTE
Icon=text-html
