[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UcXyraTBa54/SUMMONING_EXODIA_WITH_BALDR_-_BALDR_PVP_TEST_-_ELUNE
Type=Link
URL=https://www.youtube.com/watch?v=UcXyraTBa54
Icon=text-html
