[Desktop Entry]
Encoding=UTF-8
Name=Tectone/hp18TPhN5NA/I_lost...._Painful_Black_Swan_Honkai_Star_Rail_Summons
Type=Link
URL=https://www.youtube.com/watch?v=hp18TPhN5NA
Icon=text-html
