[Desktop Entry]
Encoding=UTF-8
Name=Tectone/csEf0vNfFZ8/NEW_BANNER_IS_IT_WORTH_SARIA_SHINING_ISTINA_SPECTER_PROJEKT_RED_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=csEf0vNfFZ8
Icon=text-html
