[Desktop Entry]
Encoding=UTF-8
Name=Tectone/HgzDyXz8bK8/Things_Got_Serious..._Gacha_Cast_11
Type=Link
URL=https://www.youtube.com/watch?v=HgzDyXz8bK8
Icon=text-html
