[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KrA8X0kB7i0/How_Chinas_New_Video_Game_Regulations_Affect_Genshin
Type=Link
URL=https://www.youtube.com/watch?v=KrA8X0kB7i0
Icon=text-html
