[Desktop Entry]
Encoding=UTF-8
Name=Tectone/dsXffbY9Jt4/ACHERON.EXE_IS_INSANE_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=dsXffbY9Jt4
Icon=text-html
