[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ed2-1iz6F3Q/We_Were_ALL_Wrong_About_Arknights_Endfield
Type=Link
URL=https://www.youtube.com/watch?v=ed2-1iz6F3Q
Icon=text-html
