[Desktop Entry]
Encoding=UTF-8
Name=Tectone/y4mwGNnrt_I/WHY_AND_HOW_YOU_SHOULD_BUILD_FISCHL_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=y4mwGNnrt_I
Icon=text-html
