[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Pwl95K3oY5U/JUST_NOW_-_TWITCH_BANNED_ME_OVER_THIS_BLATANT_HYPOCRISY
Type=Link
URL=https://www.youtube.com/watch?v=Pwl95K3oY5U
Icon=text-html
