[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rFt0pqxN0z0/Infinity_Nikki_Devs_got_Greedy_and_Stupid..
Type=Link
URL=https://www.youtube.com/watch?v=rFt0pqxN0z0
Icon=text-html
