[Desktop Entry]
Encoding=UTF-8
Name=Tectone/zQutcYzn16k/TOY_GUIDE_-_BIGGEST_MISTAKE_I_SEE_BEGINNERS_MAKE_+_BEGINNERS_GUIDE_Ulala_Idle_Adventure
Type=Link
URL=https://www.youtube.com/watch?v=zQutcYzn16k
Icon=text-html
