[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1dXszFA4ji8/I_LOVE_FIREFLY_NOW_Embers_in_a_Shell_Trailer_Reaction_Honkai_-_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=1dXszFA4ji8
Icon=text-html
