[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GXVCTBM4gfs/How_it_Feels_to_Play_Honkai_Star_Rail...
Type=Link
URL=https://www.youtube.com/watch?v=GXVCTBM4gfs
Icon=text-html
