[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ZDWBUiHJb6w/This_Game_s_Going_to_Redefine_Gacha..
Type=Link
URL=https://www.youtube.com/watch?v=ZDWBUiHJb6w
Icon=text-html
