[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/qP65siuTLFc/Cooking_a_Chicken_in_a_Particle_Accelerator
Type=Link
URL=https://www.youtube.com/watch?v=qP65siuTLFc
Icon=text-html
