[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ZC4Xa9YTt30/New_Genshin_Trailer_Reveals_TONS_of_NEW_CONTENT_React_and_Analysis
Type=Link
URL=https://www.youtube.com/watch?v=ZC4Xa9YTt30
Icon=text-html
