[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pZlFlXx5CEo/GT-HX-3_100%_F2P_and_the_1_unit_that_OBLITERATES_this_map_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=pZlFlXx5CEo
Icon=text-html
