[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rux1FKKP0as/Nintendo_Reached_a_New_Low..
Type=Link
URL=https://www.youtube.com/watch?v=rux1FKKP0as
Icon=text-html
