[Desktop Entry]
Encoding=UTF-8
Name=Tectone/le4XU8zr-4s/THIS_ADVENTURE_RANK_UNLOCKS_THE_-TRUE_GENSHIN_IMPACT_EXPERIENCE-_what_to_do_when_you_re_there
Type=Link
URL=https://www.youtube.com/watch?v=le4XU8zr-4s
Icon=text-html
