[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fTvsjkCskmM/Channel_Updates_and_Thank_you_-D
Type=Link
URL=https://www.youtube.com/watch?v=fTvsjkCskmM
Icon=text-html
