[Desktop Entry]
Encoding=UTF-8
Name=Tectone/mRopODcQln8/Genshin_Impact_VA_Crashes_Out_HARD
Type=Link
URL=https://www.youtube.com/watch?v=mRopODcQln8
Icon=text-html
