[Desktop Entry]
Encoding=UTF-8
Name=Tectone/qqgKUg4iECA/How_All_The_Drama_Started
Type=Link
URL=https://www.youtube.com/watch?v=qqgKUg4iECA
Icon=text-html
