[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ny9T5vdJjRM/It_just_got_Personal_between_Asmongold_and_Hasan
Type=Link
URL=https://www.youtube.com/watch?v=ny9T5vdJjRM
Icon=text-html
