[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Ek65AeJdHUk/I_WENT_ON_A_DATE_WITH_KAFKA_Tectone_s_Reaction_To_Kafka_Story_Quest_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=Ek65AeJdHUk
Icon=text-html
