[Desktop Entry]
Encoding=UTF-8
Name=Tectone/_CtLfSfKQWM/WHY_PLAYERS_ARE_PROTESTING_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=_CtLfSfKQWM
Icon=text-html
