[Desktop Entry]
Encoding=UTF-8
Name=Tectone/61tB8Bj5hbk/THE_T_WORD.EXE_IS_HILARIOUS
Type=Link
URL=https://www.youtube.com/watch?v=61tB8Bj5hbk
Icon=text-html
