[Desktop Entry]
Encoding=UTF-8
Name=Tectone/A__udEmpFug/Zani_Destroyed_My_Life.._The_Worst_Zani_Pulls
Type=Link
URL=https://www.youtube.com/watch?v=A__udEmpFug
Icon=text-html
