[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1tQ3C5SZXd0/FaZe_Banks_Scammed_Everyone_and_Left..
Type=Link
URL=https://www.youtube.com/watch?v=1tQ3C5SZXd0
Icon=text-html
