[Desktop Entry]
Encoding=UTF-8
Name=Tectone/niip2r6hfvM/4.2_LOOKS_REALLY_GOOD_Genshin_Impact_4.2_Developer_Livestream_Reaction
Type=Link
URL=https://www.youtube.com/watch?v=niip2r6hfvM
Icon=text-html
