[Desktop Entry]
Encoding=UTF-8
Name=Tectone/7KFiXRP5JMU/Addressing_the_F2P_controversy_Honkai_Star_Rail_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=7KFiXRP5JMU
Icon=text-html
