[Desktop Entry]
Encoding=UTF-8
Name=Tectone/f6VwhDlhfAA/Massive_Controversy_-_The_Revenue_Reports_Have_been_Lying_for_Months..
Type=Link
URL=https://www.youtube.com/watch?v=f6VwhDlhfAA
Icon=text-html
