[Desktop Entry]
Encoding=UTF-8
Name=Tectone/cKKNYdHFgxM/2.2_LOOKS_INSANE_Honkai_-_Star_Rail_Version_2.2_Then_Wake_to_Weep_Special_Program_Reaction
Type=Link
URL=https://www.youtube.com/watch?v=cKKNYdHFgxM
Icon=text-html
