[Desktop Entry]
Encoding=UTF-8
Name=Tectone/D530-YWIMDQ/Why_3.3_Genshin_Impact_Will_Change_Everything.
Type=Link
URL=https://www.youtube.com/watch?v=D530-YWIMDQ
Icon=text-html
