[Desktop Entry]
Encoding=UTF-8
Name=Tectone/MSSQ1rsnTIo/I_got_Banned_From_Honkai_Star_Rail...
Type=Link
URL=https://www.youtube.com/watch?v=MSSQ1rsnTIo
Icon=text-html
