[Desktop Entry]
Encoding=UTF-8
Name=Tectone/6iI8fOUm9Vo/Our_Criticism_Saved_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=6iI8fOUm9Vo
Icon=text-html
