[Desktop Entry]
Encoding=UTF-8
Name=Tectone/E3FALkY1ZyE/THE_1_TIP_THAT_YOU_NEED_TO_KNOW_Ulala_Idle_Adventure
Type=Link
URL=https://www.youtube.com/watch?v=E3FALkY1ZyE
Icon=text-html
