[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ap1C4xj401E/ARKNIGHTS_IS_CANCELLED_RESTARTING_FROM_SCRATCH
Type=Link
URL=https://www.youtube.com/watch?v=ap1C4xj401E
Icon=text-html
