[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8bP09HBfp-8/What_You_Missed_From_Wuthering_Waves_2.1
Type=Link
URL=https://www.youtube.com/watch?v=8bP09HBfp-8
Icon=text-html
