[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/Pw0IZg7_4mo/The_Moons_of_Mars_Explained_--_Phobos_Deimos_MM_2
Type=Link
URL=https://www.youtube.com/watch?v=Pw0IZg7_4mo
Icon=text-html
