[Desktop Entry]
Encoding=UTF-8
Name=Tectone/M0AsJi7PbCo/WHO_TO_E2_TIER_LIST_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=M0AsJi7PbCo
Icon=text-html
