[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rC0rRWUo4m4/Proving_Futa_s_aren_t_Gay_using_simple_Mathematics.
Type=Link
URL=https://www.youtube.com/watch?v=rC0rRWUo4m4
Icon=text-html
