[Desktop Entry]
Encoding=UTF-8
Name=Tectone/QDwQzutIbBM/i_wouldnt_do_it_either
Type=Link
URL=https://www.youtube.com/watch?v=QDwQzutIbBM
Icon=text-html
