[Desktop Entry]
Encoding=UTF-8
Name=Tectone/3Wmue0sQCbw/The_Streamer_Manipulating_Everyone_Behind_The_Scenes
Type=Link
URL=https://www.youtube.com/watch?v=3Wmue0sQCbw
Icon=text-html
