[Desktop Entry]
Encoding=UTF-8
Name=Tectone/BBr6M1uRoKc/HASAN_GOES_AFTER_ASMONGOLD..._AGAIN.
Type=Link
URL=https://www.youtube.com/watch?v=BBr6M1uRoKc
Icon=text-html
