[Desktop Entry]
Encoding=UTF-8
Name=Tectone/CdfrfBOfVMw/Why_Wuthering_Waves_Will_Be_A_Success
Type=Link
URL=https://www.youtube.com/watch?v=CdfrfBOfVMw
Icon=text-html
