[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Hn8OjFmw4jg/Genshin_Impact_Player_GOES_OFF_on_me_and_then_the_unexpected_happens...
Type=Link
URL=https://www.youtube.com/watch?v=Hn8OjFmw4jg
Icon=text-html
