[Desktop Entry]
Encoding=UTF-8
Name=Tectone/dBAZsP8G-1k/Idubbbz_Addressed_The_Allegations..._It_didn_t_go_well.
Type=Link
URL=https://www.youtube.com/watch?v=dBAZsP8G-1k
Icon=text-html
