[Desktop Entry]
Encoding=UTF-8
Name=Tectone/n17qEwAe_GY/AYATO_C0_IS_S-TIER_BROKEN_UNIT
Type=Link
URL=https://www.youtube.com/watch?v=n17qEwAe_GY
Icon=text-html
