[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KnCbGW7Ifis/HOYOVERSE_KNEW_WHAT_THEY_WERE_DOING_WITH_THIS
Type=Link
URL=https://www.youtube.com/watch?v=KnCbGW7Ifis
Icon=text-html
