[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/9FppammO1zk/The_Most_Dangerous_Weapon_Is_Not_Nuclear
Type=Link
URL=https://www.youtube.com/watch?v=9FppammO1zk
Icon=text-html
