[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Zz9CSkKUUYY/Its_Finally_Happening
Type=Link
URL=https://www.youtube.com/watch?v=Zz9CSkKUUYY
Icon=text-html
