[Desktop Entry]
Encoding=UTF-8
Name=Tectone/gCvv9xMzgPQ/How_a_WHALE_does_Spiral_Abyss_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=gCvv9xMzgPQ
Icon=text-html
