[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Znetz2BwE_I/Twitch_Is_Completely_Out_of_Control
Type=Link
URL=https://www.youtube.com/watch?v=Znetz2BwE_I
Icon=text-html
