[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0jz_qwRZiFs/About_the_PirateSoftware_Allegations...
Type=Link
URL=https://www.youtube.com/watch?v=0jz_qwRZiFs
Icon=text-html
