[Desktop Entry]
Encoding=UTF-8
Name=Tectone/zsHTNNapZI8/The_Dream_Allegations_just_keep_getting_worse..
Type=Link
URL=https://www.youtube.com/watch?v=zsHTNNapZI8
Icon=text-html
