[Desktop Entry]
Encoding=UTF-8
Name=Tectone/cAV45hdj324/Are_You_Quitting_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=cAV45hdj324
Icon=text-html
