[Desktop Entry]
Encoding=UTF-8
Name=Tectone/T3GAxowKP5I/Summoners_War_DTD_-_Why_you_DO_NOT_want_to_be_a_guild_master
Type=Link
URL=https://www.youtube.com/watch?v=T3GAxowKP5I
Icon=text-html
