[Desktop Entry]
Encoding=UTF-8
Name=Tectone/n9zLFfEuGF0/Zenless_Zone_Zero_JUST_CHANGED_EVERYTHING_+_FREE_5_STAR_HUGE_CHANGES
Type=Link
URL=https://www.youtube.com/watch?v=n9zLFfEuGF0
Icon=text-html
