[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9ryMCBDfT24/Genshin_Impact_Artifacts_Are_Ruining_My_Life.
Type=Link
URL=https://www.youtube.com/watch?v=9ryMCBDfT24
Icon=text-html
