[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Rg4n75joU-Y/Twitch_is_Incompetent_It_Got_Worse_Again.
Type=Link
URL=https://www.youtube.com/watch?v=Rg4n75joU-Y
Icon=text-html
