[Desktop Entry]
Encoding=UTF-8
Name=Tectone/G13VpnqpkqI/HE_EXPOSED_PAIMON_VA_LIES
Type=Link
URL=https://www.youtube.com/watch?v=G13VpnqpkqI
Icon=text-html
