[Desktop Entry]
Encoding=UTF-8
Name=Tectone/lWBlyHr11Yo/My_Reaction_to_the_F2P_Genshin_Scam
Type=Link
URL=https://www.youtube.com/watch?v=lWBlyHr11Yo
Icon=text-html
