[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rkpUhHfEyC4/I_spent_everything_on_Klee...
Type=Link
URL=https://www.youtube.com/watch?v=rkpUhHfEyC4
Icon=text-html
