[Desktop Entry]
Encoding=UTF-8
Name=Tectone/gyQOsHnSeZo/Why_People_Can_t_understand_Nuance_in_Gaming_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=gyQOsHnSeZo
Icon=text-html
