[Desktop Entry]
Encoding=UTF-8
Name=Tectone/6hwn6AtEZcM/THIS_GENSHIN_ACCOUNT_CANT_BE_REAL
Type=Link
URL=https://www.youtube.com/watch?v=6hwn6AtEZcM
Icon=text-html
