[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/_lNF3_30lUE/How_Small_Is_An_Atom_Spoiler_-_Very_Small.
Type=Link
URL=https://www.youtube.com/watch?v=_lNF3_30lUE
Icon=text-html
