[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/xJJX6fLC6o4/How_Silver_Bullet_Redefines_the_Werewolf_Story
Type=Link
URL=https://www.youtube.com/watch?v=xJJX6fLC6o4
Icon=text-html
