[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9Qf6NbT9XHo/NIKKE_DEVS_MADE_A_NEW_GAME_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=9Qf6NbT9XHo
Icon=text-html
