[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/MDZ2iWN0ZSI/Heat_Affects_Who_Gets_Born
Type=Link
URL=https://www.youtube.com/watch?v=MDZ2iWN0ZSI
Icon=text-html
