[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pun7PSEnctk/How_to_be_an_Elitist_in_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=pun7PSEnctk
Icon=text-html
