[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/KmgRBiRMmAU/What_Falling_in_Love_Does_to_You
Type=Link
URL=https://www.youtube.com/watch?v=KmgRBiRMmAU
Icon=text-html
