[Desktop Entry]
Encoding=UTF-8
Name=Tectone/-Ft1FLL0exA/Gacha_Revenue_is_Getting_Crazy...
Type=Link
URL=https://www.youtube.com/watch?v=-Ft1FLL0exA
Icon=text-html
