[Desktop Entry]
Encoding=UTF-8
Name=Tectone/QzaYr7StnSk/EASY_RISK_8_DAY_5_BARREN_PLAZA_E1_S_+_REP_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=QzaYr7StnSk
Icon=text-html
