[Desktop Entry]
Encoding=UTF-8
Name=Tectone/_LhQSFwqc8M/Addressing_The_HoYoverse_Community_Gacha_Cast_1_Ft._@TenhaGenshin_@Necrit_@VolkinYT_@Braxophone
Type=Link
URL=https://www.youtube.com/watch?v=_LhQSFwqc8M
Icon=text-html
