[Desktop Entry]
Encoding=UTF-8
Name=Tectone/aJeOEE8feuo/Why_I_m_worried_about_Zhongli_s_Buff_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=aJeOEE8feuo
Icon=text-html
