[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/AQPlREDW-Ro/Iraq_Explained_--_ISIS_Syria_and_War
Type=Link
URL=https://www.youtube.com/watch?v=AQPlREDW-Ro
Icon=text-html
