[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8XkF5MIL8xQ/SPARKLE_TRAILER_LOOKS_INCREDIBLE_Monodrama_Honkai_-_Star_Rail_Reaction
Type=Link
URL=https://www.youtube.com/watch?v=8XkF5MIL8xQ
Icon=text-html
