[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fiLGMSUI2uA/MY_FIRST_TOWER_OF_FANTASY_SUMMONS_WERE_ABSOLUTE_PAIN.
Type=Link
URL=https://www.youtube.com/watch?v=fiLGMSUI2uA
Icon=text-html
