[Desktop Entry]
Encoding=UTF-8
Name=Tectone/m1AHVkaWj68/This_Might_Be_THE_DUMBEST_Account_Review_in_Genshin_Impact_I_ve_Ever_Done...
Type=Link
URL=https://www.youtube.com/watch?v=m1AHVkaWj68
Icon=text-html
