[Desktop Entry]
Encoding=UTF-8
Name=Tectone/AgStnS5Pq2A/They_Called_Deepcolor_Bottom_Tier_Trash_TODAY_WE_REDEEM_HER_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=AgStnS5Pq2A
Icon=text-html
