[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rCWSkQsT9bo/Honest_Review_-_Duet_Night_Abyss_CBT
Type=Link
URL=https://www.youtube.com/watch?v=rCWSkQsT9bo
Icon=text-html
