[Desktop Entry]
Encoding=UTF-8
Name=Tectone/twwmKLW45VQ/Is_Rerolling_Worth_it_Who_to_Reroll_for_Honkai_Star_Rail_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=twwmKLW45VQ
Icon=text-html
