[Desktop Entry]
Encoding=UTF-8
Name=Tectone/iOdxrkexuCA/How_much_sanity_do_you_ACTUALLY_need_to_E2_+_M3_a_6_star_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=iOdxrkexuCA
Icon=text-html
