[Desktop Entry]
Encoding=UTF-8
Name=Tectone/m4hCgUkbplE/HOW_TO_MAKE_HU_TAO_INSANE_BEST_ARTIFACTS_WEAPON_TEAM_COMPS_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=m4hCgUkbplE
Icon=text-html
