[Desktop Entry]
Encoding=UTF-8
Name=Tectone/b5w0jaCDa30/HONKAI_IMPACT_3RD_PART_2_REACTION_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=b5w0jaCDa30
Icon=text-html
