[Desktop Entry]
Encoding=UTF-8
Name=Tectone/QzSasgvfE9Q/STILL_BANNED_ON_TWITCH
Type=Link
URL=https://www.youtube.com/watch?v=QzSasgvfE9Q
Icon=text-html
