[Desktop Entry]
Encoding=UTF-8
Name=Tectone/CK_3MfPyg2U/I_made_a_new_Game_Mode_in_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=CK_3MfPyg2U
Icon=text-html
