[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fJm8a2JGtBY/This_Game_Changed_My_life
Type=Link
URL=https://www.youtube.com/watch?v=fJm8a2JGtBY
Icon=text-html
