[Desktop Entry]
Encoding=UTF-8
Name=Tectone/2EBbPnBjXe0/I_Streamed_on_Kick_for_1_Week._Here_s_what_Happened.
Type=Link
URL=https://www.youtube.com/watch?v=2EBbPnBjXe0
Icon=text-html
