[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ZDW3c3zafAk/BEGINNERS_GUIDE_TO_PUNISHING_GRAY_RAVEN_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=ZDW3c3zafAk
Icon=text-html
