[Desktop Entry]
Encoding=UTF-8
Name=Tectone/zUq_JizkSNU/I_ROLLED_FOR_JANE_DOE_AND_IT_WAS_CRAZY
Type=Link
URL=https://www.youtube.com/watch?v=zUq_JizkSNU
Icon=text-html
