[Desktop Entry]
Encoding=UTF-8
Name=Tectone/2uXCX4GVs4w/Twitch_CEO_Just_Stepped_Down_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=2uXCX4GVs4w
Icon=text-html
