[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/Pj20omaP7WI/Something_in_Your_Kitchen_Emits_Antimatter
Type=Link
URL=https://www.youtube.com/watch?v=Pj20omaP7WI
Icon=text-html
