[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UtuE3UIAIrc/THE_TRUTH_every_Genshin_Player_NEEDS_TO_HEAR.
Type=Link
URL=https://www.youtube.com/watch?v=UtuE3UIAIrc
Icon=text-html
