[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fMc18B_QX3Y/THIS_IS_EVERYTHING_I_VE_EVER_WANTED_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=fMc18B_QX3Y
Icon=text-html
