[Desktop Entry]
Encoding=UTF-8
Name=Tectone/X4wvYh7g2rY/1_SHOT_ANYTHING_WITH_BENNET_HOW_TO_BUILD_USE_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=X4wvYh7g2rY
Icon=text-html
