[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Gyg4t9NkojM/I_WHALED_FOR_NEUVILLETTE_AND_IT_WAS_CRAZY_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=Gyg4t9NkojM
Icon=text-html
