[Desktop Entry]
Encoding=UTF-8
Name=Tectone/4hvFAc14u6E/MAXIMIZE_NEW_EVENT_+_MORE_CONTENT_COMING_SOON_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=4hvFAc14u6E
Icon=text-html
