[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/HBdolpDuPzc/Sadistic_Game_Shows
Type=Link
URL=https://www.youtube.com/watch?v=HBdolpDuPzc
Icon=text-html
