[Desktop Entry]
Encoding=UTF-8
Name=Tectone/5ulWvjf_xtg/F2PGOD_GETS_OBLITERATED_BY_WUTHERING_WAVES_END_GAME
Type=Link
URL=https://www.youtube.com/watch?v=5ulWvjf_xtg
Icon=text-html
