[Desktop Entry]
Encoding=UTF-8
Name=Tectone/iZol2WDMVPQ/BAGPIPE_+_NEW_CONTINGENCY_CONTRACT_JUST_ANNOUNCED
Type=Link
URL=https://www.youtube.com/watch?v=iZol2WDMVPQ
Icon=text-html
