[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Rf9stP9HY2U/HUGE_HONKAI_STAR_RAIL_2.0_NEWS_PENACONY_BLACK_SWAN_HANABI
Type=Link
URL=https://www.youtube.com/watch?v=Rf9stP9HY2U
Icon=text-html
