[Desktop Entry]
Encoding=UTF-8
Name=Tectone/GgaVeaq3r6I/How_a_Single_Tweet_Might_Have_Destroyed_This_Vtubers_Career_Sinder_Drama_Explained
Type=Link
URL=https://www.youtube.com/watch?v=GgaVeaq3r6I
Icon=text-html
