[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8sQexmUOojA/What_the_Genshin_Impact_Community_needs_to_hear...
Type=Link
URL=https://www.youtube.com/watch?v=8sQexmUOojA
Icon=text-html
