[Desktop Entry]
Encoding=UTF-8
Name=Tectone/LqzNChYkm5U/IF_YOU_-THINK-_YOU_RE_OUT_OF_CONTENT_WATCH_THIS_NOW_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=LqzNChYkm5U
Icon=text-html
