[Desktop Entry]
Encoding=UTF-8
Name=Tectone/A4bl7qfMVZ0/Bad_Takes_About_Honkai_Star_Rail..._Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=A4bl7qfMVZ0
Icon=text-html
