[Desktop Entry]
Encoding=UTF-8
Name=Tectone/TtMNMCMXnIg/NUCLEAR_FALLOUT._REACTING_TO_IT_ALL.
Type=Link
URL=https://www.youtube.com/watch?v=TtMNMCMXnIg
Icon=text-html
