[Desktop Entry]
Encoding=UTF-8
Name=Tectone/qYskwGuCZTc/I_tried_to_stop_Shylily_Rolling_for_Topaz
Type=Link
URL=https://www.youtube.com/watch?v=qYskwGuCZTc
Icon=text-html
