[Desktop Entry]
Encoding=UTF-8
Name=Tectone/SjzPySTm1co/I_Had_Fun_in_Genshin_Impact_Today
Type=Link
URL=https://www.youtube.com/watch?v=SjzPySTm1co
Icon=text-html
