[Desktop Entry]
Encoding=UTF-8
Name=Tectone/3uYpUhvpt_I/HOW_TO_PREPARE_FOR_ITTO_AND_GOROU
Type=Link
URL=https://www.youtube.com/watch?v=3uYpUhvpt_I
Icon=text-html
