[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UXzdgRrBFmM/FU_XUAN.EXE_IS_AMAZING_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=UXzdgRrBFmM
Icon=text-html
