[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fSHqmYiPBmM/You_will_Get_Clapped_in_the_New_Memory_of_Chaos_Ok_lil_pup
Type=Link
URL=https://www.youtube.com/watch?v=fSHqmYiPBmM
Icon=text-html
