[Desktop Entry]
Encoding=UTF-8
Name=Tectone/YFTujKytnpQ/HUGE_WARNING_FOR_YUNJIN
Type=Link
URL=https://www.youtube.com/watch?v=YFTujKytnpQ
Icon=text-html
