[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Pr1fu7rbK1c/A_Professional_Musician_Showed_Me_the_BEST_Gaming_Music
Type=Link
URL=https://www.youtube.com/watch?v=Pr1fu7rbK1c
Icon=text-html
