[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1CbxiaKiZAY/Honkai_Star_Rail_Destroyed_Me
Type=Link
URL=https://www.youtube.com/watch?v=1CbxiaKiZAY
Icon=text-html
