[Desktop Entry]
Encoding=UTF-8
Name=Tectone/wh_3Q-cyG0g/I_asked_a_new_player_how_they_feel_about_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=wh_3Q-cyG0g
Icon=text-html
