[Desktop Entry]
Encoding=UTF-8
Name=Tectone/T6HwpSQdwYk/Why_I_m_Pulling_Fu_Xuan_As_A_F2P_Player_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=T6HwpSQdwYk
Icon=text-html
