[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fBf2PzrQz5A/HOYOVERSE_FIRING_100_S_REPLACED_WITH_AI
Type=Link
URL=https://www.youtube.com/watch?v=fBf2PzrQz5A
Icon=text-html
