[Desktop Entry]
Encoding=UTF-8
Name=Tectone/3SLkIMIlgtI/Genshin_Impact_Wants_ME_To_Quit.
Type=Link
URL=https://www.youtube.com/watch?v=3SLkIMIlgtI
Icon=text-html
