[Desktop Entry]
Encoding=UTF-8
Name=Tectone/JApWAqFXoV4/Elune_-_First_Impressions_Releasing_July_23rd_THIS_GAME_IS_CLEAN
Type=Link
URL=https://www.youtube.com/watch?v=JApWAqFXoV4
Icon=text-html
