[Desktop Entry]
Encoding=UTF-8
Name=Tectone/lrF84dJRo4g/Pathetic_Disgusting_Creep
Type=Link
URL=https://www.youtube.com/watch?v=lrF84dJRo4g
Icon=text-html
