[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0ZJforaC0jc/Genshin_is_somehow_Getting_EVEN_Worse..
Type=Link
URL=https://www.youtube.com/watch?v=0ZJforaC0jc
Icon=text-html
