[Desktop Entry]
Encoding=UTF-8
Name=Tectone/teBGVfXCXzk/Is_the_Wuthering_Waves_Community_Turning_into_Genshin
Type=Link
URL=https://www.youtube.com/watch?v=teBGVfXCXzk
Icon=text-html
