[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/wwSzpaTHyS8/Did_The_Future_Already_Happen_-_The_Paradox_of_Time
Type=Link
URL=https://www.youtube.com/watch?v=wwSzpaTHyS8
Icon=text-html
