[Desktop Entry]
Encoding=UTF-8
Name=Tectone/yz1KFn573Jw/What_Everyone_wants_from_Honkai_Star_Rail_2.0_Gacha_Cast_6
Type=Link
URL=https://www.youtube.com/watch?v=yz1KFn573Jw
Icon=text-html
