[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/RLykC1VN7NY/Death_From_Space_Gamma-Ray_Bursts_Explained
Type=Link
URL=https://www.youtube.com/watch?v=RLykC1VN7NY
Icon=text-html
