[Desktop Entry]
Encoding=UTF-8
Name=Tectone/3MOWPRR8PR8/AYATO_OBLITERATES_THE_ABYSS
Type=Link
URL=https://www.youtube.com/watch?v=3MOWPRR8PR8
Icon=text-html
