[Desktop Entry]
Encoding=UTF-8
Name=Tectone/l_6Lq20JYBE/More_Tectone_Slander..._Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=l_6Lq20JYBE
Icon=text-html
