[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Z0hfD_cbkgk/AFFINITY_GUIDE_-_GET_TOP-TIER_UNITS_FOR_FREE_+_Bonus_Goodies
Type=Link
URL=https://www.youtube.com/watch?v=Z0hfD_cbkgk
Icon=text-html
