[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0ccMs0bQS3M/The_Male_Loser_Epidemic
Type=Link
URL=https://www.youtube.com/watch?v=0ccMs0bQS3M
Icon=text-html
