[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Srl2MKh5fvo/CANTARELLA_TRAILER_MADE_ME_LOSE_MY_MIND
Type=Link
URL=https://www.youtube.com/watch?v=Srl2MKh5fvo
Icon=text-html
