[Desktop Entry]
Encoding=UTF-8
Name=Tectone/jyJRIo2bZO4/TOP_5_CLAN_WAR_TIPS_TO_GET_THE_LOOT_Ulala_Idle_Adventure
Type=Link
URL=https://www.youtube.com/watch?v=jyJRIo2bZO4
Icon=text-html
