[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XtUaPHG0eIA/THOUSANDS_OF_GENSHIN_IMPACT_PLAYERS_BEING_BANNED_FOR_THIS
Type=Link
URL=https://www.youtube.com/watch?v=XtUaPHG0eIA
Icon=text-html
