[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/GDSf2h9_39I/Why_Aliens_Might_Already_Be_On_Their_Way_To_Us
Type=Link
URL=https://www.youtube.com/watch?v=GDSf2h9_39I
Icon=text-html
