[Desktop Entry]
Encoding=UTF-8
Name=Tectone/j9c6TSWQFog/Why_The_Drama_Started.
Type=Link
URL=https://www.youtube.com/watch?v=j9c6TSWQFog
Icon=text-html
