[Desktop Entry]
Encoding=UTF-8
Name=Tectone/eKKhwRDf9Tw/he_shouldnt_have_opened_that
Type=Link
URL=https://www.youtube.com/watch?v=eKKhwRDf9Tw
Icon=text-html
