[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/E55uSCO5D2w/The_Most_Insane_Weapon_You_Never_Heard_About
Type=Link
URL=https://www.youtube.com/watch?v=E55uSCO5D2w
Icon=text-html
