[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/8_cAY_rQpzM/Map_Projections_Why_Do_We_Have_Different_Maps_of_the_Earth
Type=Link
URL=https://www.youtube.com/watch?v=8_cAY_rQpzM
Icon=text-html
