[Desktop Entry]
Encoding=UTF-8
Name=Tectone/uIebS0wFZuc/SPOILER_1_YEAR_ANNIVERSARY_CN_WHY_ARKNIGHTS_WILL_BECOME_EVEN_BIGGER_ARKNIGHTS_TOOK_MY_IDEA
Type=Link
URL=https://www.youtube.com/watch?v=uIebS0wFZuc
Icon=text-html
