[Desktop Entry]
Encoding=UTF-8
Name=Tectone/F4A2p2CYsHk/ADMITTING_IM_THE_IMPOSTER_FIRST_ROUND_AND_STILL_WINNING_FT._NUXTAKU
Type=Link
URL=https://www.youtube.com/watch?v=F4A2p2CYsHk
Icon=text-html
