[Desktop Entry]
Encoding=UTF-8
Name=Tectone/RRfgov7sMI4/The_Weirdest_Moment_in_Gaming_History_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=RRfgov7sMI4
Icon=text-html
