[Desktop Entry]
Encoding=UTF-8
Name=Tectone/j1FRcRbQpX0/We_Just_Saved_the_Gacha_Community
Type=Link
URL=https://www.youtube.com/watch?v=j1FRcRbQpX0
Icon=text-html
