[Desktop Entry]
Encoding=UTF-8
Name=Tectone/O-9J-Zxo1BU/Honest_Review_-_Genshin_Impact_5.6_Developer_Livestream
Type=Link
URL=https://www.youtube.com/watch?v=O-9J-Zxo1BU
Icon=text-html
