[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/LrIRuqr_Ozg/What_Happens_AFTER_Nuclear_War
Type=Link
URL=https://www.youtube.com/watch?v=LrIRuqr_Ozg
Icon=text-html
