[Desktop Entry]
Encoding=UTF-8
Name=Tectone/nTbQA4QCZCY/PACEMAKER_GUIDE_-_HOW_TO_GET_PACEMAKER_TIPS_AND_TRICKS_ULALA_IDLE_ADVENTURE
Type=Link
URL=https://www.youtube.com/watch?v=nTbQA4QCZCY
Icon=text-html
