[Desktop Entry]
Encoding=UTF-8
Name=Tectone/uAAoMhgTJmA/Hasan_is_100%_COOKED
Type=Link
URL=https://www.youtube.com/watch?v=uAAoMhgTJmA
Icon=text-html
