[Desktop Entry]
Encoding=UTF-8
Name=Tectone/SdQWnLVo_9s/Things_Have_Changed_with_Asmongold..
Type=Link
URL=https://www.youtube.com/watch?v=SdQWnLVo_9s
Icon=text-html
