[Desktop Entry]
Encoding=UTF-8
Name=Tectone/rL5iufOCYI0/LUOCHA_NERFED_BEFORE_LAUNCH
Type=Link
URL=https://www.youtube.com/watch?v=rL5iufOCYI0
Icon=text-html
