[Desktop Entry]
Encoding=UTF-8
Name=Tectone/eTfF4V2Vv9k/Why_Players_Are_SKIPPING_Acheron
Type=Link
URL=https://www.youtube.com/watch?v=eTfF4V2Vv9k
Icon=text-html
