[Desktop Entry]
Encoding=UTF-8
Name=Tectone/tMFJoWFS5bU/TOP_10_GAME_BREAKING_BUGS_MISTRANSLATIONS_-STILL-_IN_THE_GAME._ARKNIGHTS
Type=Link
URL=https://www.youtube.com/watch?v=tMFJoWFS5bU
Icon=text-html
