[Desktop Entry]
Encoding=UTF-8
Name=Tectone/czL9isVgd88/BREAKING_-_CHINA_BANNING_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=czL9isVgd88
Icon=text-html
