[Desktop Entry]
Encoding=UTF-8
Name=Tectone/RkDIhhs8ov0/HOW_DID_THINGS_GET_WORSE
Type=Link
URL=https://www.youtube.com/watch?v=RkDIhhs8ov0
Icon=text-html
