[Desktop Entry]
Encoding=UTF-8
Name=Tectone/u1EvayFyuVM/WINNER_GETS_100_LOSER_DELETES_THEIR_BEST_ARTIFACT
Type=Link
URL=https://www.youtube.com/watch?v=u1EvayFyuVM
Icon=text-html
