[Desktop Entry]
Encoding=UTF-8
Name=Tectone/kPx5G1afkNg/These_Ayato_Leaks_are_INSANE
Type=Link
URL=https://www.youtube.com/watch?v=kPx5G1afkNg
Icon=text-html
