[Desktop Entry]
Encoding=UTF-8
Name=Tectone/bkI8ekYUUx4/Insane_Genshin_Content_Creator_Made_A_Video_About_Me
Type=Link
URL=https://www.youtube.com/watch?v=bkI8ekYUUx4
Icon=text-html
