[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/2XkV6IpV2Y0/The_History_and_Future_of_Everything_--_Time
Type=Link
URL=https://www.youtube.com/watch?v=2XkV6IpV2Y0
Icon=text-html
