[Desktop Entry]
Encoding=UTF-8
Name=Tectone/OzVikB7SZjc/How_Gacha_Players_Defend_Bad_Games
Type=Link
URL=https://www.youtube.com/watch?v=OzVikB7SZjc
Icon=text-html
