[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fl3wwuZkmpU/C0_ALBEDO_MAX_DPS_BUILD_F2P_GUIDE_+_HOW_TO_IMPROVE_FURTHER_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=fl3wwuZkmpU
Icon=text-html
