[Desktop Entry]
Encoding=UTF-8
Name=Tectone/YQyZKFHMwHE/Honest_Review_-_Is_3.1_Honkai_Star_Rail_Enough
Type=Link
URL=https://www.youtube.com/watch?v=YQyZKFHMwHE
Icon=text-html
