[Desktop Entry]
Encoding=UTF-8
Name=In_Praise_of_Shadows/gYxfZU7Z6D8/The_Filthy_Life_of_John_Waters
Type=Link
URL=https://www.youtube.com/watch?v=gYxfZU7Z6D8
Icon=text-html
