[Desktop Entry]
Encoding=UTF-8
Name=Tectone/xr3PqhkiTVI/CODE_OF_BRAWL_EVENT_OVERVIEW_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=xr3PqhkiTVI
Icon=text-html
