[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9mpARV4Y0tI/HoYoverse_Content_Creators_Are_Lying_to_You
Type=Link
URL=https://www.youtube.com/watch?v=9mpARV4Y0tI
Icon=text-html
