[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1eSsYztSrxU/Honkai_Star_Rail_after_3_months_is...
Type=Link
URL=https://www.youtube.com/watch?v=1eSsYztSrxU
Icon=text-html
