[Desktop Entry]
Encoding=UTF-8
Name=Tectone/OHJAOXDNLz4/IT_GOT_EVEN_WORSE_FOR_THE_GOD_OF_BEGGING
Type=Link
URL=https://www.youtube.com/watch?v=OHJAOXDNLz4
Icon=text-html
