[Desktop Entry]
Encoding=UTF-8
Name=Tectone/xkt18Y0sdNs/Beginner_Tips_Combat_Rerolling_Cleaning_and_Beginner_Guide_-_SINoALICE
Type=Link
URL=https://www.youtube.com/watch?v=xkt18Y0sdNs
Icon=text-html
