[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Kq2qncwBbNo/PIRATESOFTWARE_DOUBLES_DOWN_AND_CHARLIE_IS_FURIOUS
Type=Link
URL=https://www.youtube.com/watch?v=Kq2qncwBbNo
Icon=text-html
