[Desktop Entry]
Encoding=UTF-8
Name=Tectone/T36idERPTgk/How_much_Players_Save_Skipping_Banners_in_Genshin_Impact_and_what_I_bought_with_that_money
Type=Link
URL=https://www.youtube.com/watch?v=T36idERPTgk
Icon=text-html
