[Desktop Entry]
Encoding=UTF-8
Name=Tectone/TOOQbWkU_YA/I_can_t_wait_any_longer_for_Dr._Ratio_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=TOOQbWkU_YA
Icon=text-html
