[Desktop Entry]
Encoding=UTF-8
Name=Tectone/T1YSHBY4meg/My_Honest_Thoughts_On_Wuthering_Waves_After_1_Month...
Type=Link
URL=https://www.youtube.com/watch?v=T1YSHBY4meg
Icon=text-html
