[Desktop Entry]
Encoding=UTF-8
Name=Tectone/od0IFhWmDnQ/2000_WUTHERING_WAVES_TOURNAMENT
Type=Link
URL=https://www.youtube.com/watch?v=od0IFhWmDnQ
Icon=text-html
