[Desktop Entry]
Encoding=UTF-8
Name=Tectone/oXxBCvyUWko/Regarding_the_Dish_Controversy...
Type=Link
URL=https://www.youtube.com/watch?v=oXxBCvyUWko
Icon=text-html
