[Desktop Entry]
Encoding=UTF-8
Name=Tectone/bmsT1KxeHkc/bro_thinks_he_is_einstein
Type=Link
URL=https://www.youtube.com/watch?v=bmsT1KxeHkc
Icon=text-html
