[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0LhXEOkRDkc/Hasan_is_Getting_Desperate..
Type=Link
URL=https://www.youtube.com/watch?v=0LhXEOkRDkc
Icon=text-html
