[Desktop Entry]
Encoding=UTF-8
Name=Tectone/_HrswoHm6mc/A_NEW_PROMISING_GACHA_IN_2023_Eversoul_First_Impressions
Type=Link
URL=https://www.youtube.com/watch?v=_HrswoHm6mc
Icon=text-html
