[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9k0TmOVBGbs/SECRET_HOUSING_SYSTEM_CHANGE_JUST_ANNOUNCED_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=9k0TmOVBGbs
Icon=text-html
