[Desktop Entry]
Encoding=UTF-8
Name=Tectone/YIZ-lHNeFrw/IS_ALIVDA_OP_MY_NEW_FAVORITE_ELUNE_PVP_TEST_-_ELUNE
Type=Link
URL=https://www.youtube.com/watch?v=YIZ-lHNeFrw
Icon=text-html
