[Desktop Entry]
Encoding=UTF-8
Name=Tectone/0-7ttg1bduo/Summon_for_Ganyu_or_Xiao_The_Impossible_Question_explained._Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=0-7ttg1bduo
Icon=text-html
