[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ssqOnrfZSMQ/Tectone_Talks_to_A_Genshin_Impact_Voice_Actor_about_Honkai_-_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=ssqOnrfZSMQ
Icon=text-html
