[Desktop Entry]
Encoding=UTF-8
Name=Tectone/YApAiMxmeII/Factual_Comparison_of_Wuthering_Waves_vs_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=YApAiMxmeII
Icon=text-html
