[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Ykc0wS7KQOU/Genshin_Players_are_Destroying_the_Game_They_Love..
Type=Link
URL=https://www.youtube.com/watch?v=Ykc0wS7KQOU
Icon=text-html
