[Desktop Entry]
Encoding=UTF-8
Name=Tectone/2ObZGPCqyRE/I_Almost_Spent_Money_To_Beat_This
Type=Link
URL=https://www.youtube.com/watch?v=2ObZGPCqyRE
Icon=text-html
