[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UZ7ddMKumKY/You_re_Becoming_a_Political_Extremist
Type=Link
URL=https://www.youtube.com/watch?v=UZ7ddMKumKY
Icon=text-html
