[Desktop Entry]
Encoding=UTF-8
Name=Tectone/808cNG1e8yQ/GTA_+_Pokemon_Gacha_LOOKS_UNREAL_WANG_YUE
Type=Link
URL=https://www.youtube.com/watch?v=808cNG1e8yQ
Icon=text-html
