[Desktop Entry]
Encoding=UTF-8
Name=Tectone/bghPBTrr3ME/4.2_ARCHON_QUEST_BLEW_MY_MIND
Type=Link
URL=https://www.youtube.com/watch?v=bghPBTrr3ME
Icon=text-html
