[Desktop Entry]
Encoding=UTF-8
Name=Tectone/uwy-xT516zQ/Smash_or_Pass_-_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=uwy-xT516zQ
Icon=text-html
