[Desktop Entry]
Encoding=UTF-8
Name=Tectone/atXGCBTsTh8/HOW_I_FIXED_THIS_GENSHIN_ACCOUNT_WITH_0
Type=Link
URL=https://www.youtube.com/watch?v=atXGCBTsTh8
Icon=text-html
