[Desktop Entry]
Encoding=UTF-8
Name=Tectone/oP2EWQMzMMo/TOWER_OF_FANTASY_HAS_SO_MANY_NEW_WAIFUS
Type=Link
URL=https://www.youtube.com/watch?v=oP2EWQMzMMo
Icon=text-html
