[Desktop Entry]
Encoding=UTF-8
Name=Tectone/45NTGrbgSJs/Why_There_Will_NEVER_Be_A_Genshin_Impact_Killer_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=45NTGrbgSJs
Icon=text-html
