[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/LBudghsdByQ/Why_Humans_Are_Vanishing
Type=Link
URL=https://www.youtube.com/watch?v=LBudghsdByQ
Icon=text-html
