[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XxQfrqLXCj8/Mutahar_Just_Ended_His_Career..
Type=Link
URL=https://www.youtube.com/watch?v=XxQfrqLXCj8
Icon=text-html
