[Desktop Entry]
Encoding=UTF-8
Name=Tectone/98PV0eD8nXQ/How_Do_Women_NOT_understand_this
Type=Link
URL=https://www.youtube.com/watch?v=98PV0eD8nXQ
Icon=text-html
