[Desktop Entry]
Encoding=UTF-8
Name=Tectone/f3JKNMEDWNk/THE_DAY_OF_RECKONING_IS_UPON_YOU._YOUR_ARROGANCE_WILL_BE_YOUR_UNDOING._I_WILL_ENJOY_WATCHING_YOU
Type=Link
URL=https://www.youtube.com/watch?v=f3JKNMEDWNk
Icon=text-html
