[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Xti6x9Lk5NE/Asmongold_Is_in_BIG_trouble..._Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=Xti6x9Lk5NE
Icon=text-html
