[Desktop Entry]
Encoding=UTF-8
Name=Tectone/WWg3BO4GFPs/Genshin_Players_Finally_Realized..
Type=Link
URL=https://www.youtube.com/watch?v=WWg3BO4GFPs
Icon=text-html
