[Desktop Entry]
Encoding=UTF-8
Name=Tectone/XpTskDgTeMY/THE_MOST_INSANE_SUNDAY_PULLS_YOU_LL_EVER_SEE
Type=Link
URL=https://www.youtube.com/watch?v=XpTskDgTeMY
Icon=text-html
