[Desktop Entry]
Encoding=UTF-8
Name=Tectone/SBWuqrP2iM8/WHY_WUTHERING_WAVES_WILL_BE_A_MASSIVE_SUCCESS
Type=Link
URL=https://www.youtube.com/watch?v=SBWuqrP2iM8
Icon=text-html
