[Desktop Entry]
Encoding=UTF-8
Name=Tectone/UCkRCmYPNqU/HUGE_NEWS._BIG_DAY._GOING_OVER_EVERYTHING.
Type=Link
URL=https://www.youtube.com/watch?v=UCkRCmYPNqU
Icon=text-html
