[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KrphqU3nrBg/BLUE_PROTOCOL_HUGE_CHANGES_THAT_FIX_EVERYTHING_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=KrphqU3nrBg
Icon=text-html
