[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Rpn18-s_sfk/Brutally_Honest_Review_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=Rpn18-s_sfk
Icon=text-html
