[Desktop Entry]
Encoding=UTF-8
Name=Tectone/1n-i3bqVeqY/You_Are_Ruining_Your_Life.
Type=Link
URL=https://www.youtube.com/watch?v=1n-i3bqVeqY
Icon=text-html
