[Desktop Entry]
Encoding=UTF-8
Name=Tectone/dD-IQWLVf0s/AREA_59_RUINS_WEEK_1_GUIDE_+_MID_RISK_CLEAR
Type=Link
URL=https://www.youtube.com/watch?v=dD-IQWLVf0s
Icon=text-html
