[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Vr-dYMAsx-g/Why_Blade_Has_Divided_The_Community_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=Vr-dYMAsx-g
Icon=text-html
