[Desktop Entry]
Encoding=UTF-8
Name=Tectone/cbFWps9_IvE/3_NEW_BROKEN_WEAPONS_NO_NERFS_INSANE_VALUE_BANNER_GENSHIN_IMPACT
Type=Link
URL=https://www.youtube.com/watch?v=cbFWps9_IvE
Icon=text-html
