[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/J0ldO87Pprc/What_Happens_If_We_Bring_the_Sun_to_Earth
Type=Link
URL=https://www.youtube.com/watch?v=J0ldO87Pprc
Icon=text-html
