[Desktop Entry]
Encoding=UTF-8
Name=Tectone/z2Vjmw7OedU/NEW_PATCH_REVIEW_HOW_GOOD_IS_THE_NEW_PATCH_Ulala_Idle_Adventure
Type=Link
URL=https://www.youtube.com/watch?v=z2Vjmw7OedU
Icon=text-html
