[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/yS1ibDImAYU/End_of_Space_Creating_a_Prison_for_Humanity
Type=Link
URL=https://www.youtube.com/watch?v=yS1ibDImAYU
Icon=text-html
