[Desktop Entry]
Encoding=UTF-8
Name=Tectone/uuanLs-t6FI/KIANA_CONFIRMED_FOR_HONKAI_STAR_RAIL_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=uuanLs-t6FI
Icon=text-html
