[Desktop Entry]
Encoding=UTF-8
Name=Tectone/HWYNm4MPWRY/ZENLESS_ZONE_ZERO_IS_SAVED_THE_BEST_UPDATE_EVER
Type=Link
URL=https://www.youtube.com/watch?v=HWYNm4MPWRY
Icon=text-html
