[Desktop Entry]
Encoding=UTF-8
Name=Tectone/fqnm5v0VbFU/2.4_GENSHIN_IMPACT_THE_GREATEST_UPDATE_EVER_2.4_LIVESTREAM_CONDENSED
Type=Link
URL=https://www.youtube.com/watch?v=fqnm5v0VbFU
Icon=text-html
