[Desktop Entry]
Encoding=UTF-8
Name=Tectone/pbpe4oP7oD4/WITNESS_TRUE_POWER_MYRTLE_SHOWCASE
Type=Link
URL=https://www.youtube.com/watch?v=pbpe4oP7oD4
Icon=text-html
