[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Or9FKrDIz3Y/BREAKING_NEWS_-_YINLIN_AND_PATCH_1.1_COMING_EARLY_HUGE_WUTHERING_WAVES_NEWS
Type=Link
URL=https://www.youtube.com/watch?v=Or9FKrDIz3Y
Icon=text-html
