[Desktop Entry]
Encoding=UTF-8
Name=Tectone/f1DOXqPpzdo/HONKAI_STAR_RAIL_SLANDER_TO_MAKE_YOU_LAUGH_REDDIT_EDITION
Type=Link
URL=https://www.youtube.com/watch?v=f1DOXqPpzdo
Icon=text-html
