[Desktop Entry]
Encoding=UTF-8
Name=Tectone/eoUvXXdT8r0/2020_Beginner_Guide_F2P_Tips_and_Tricks_+_BIGGEST_MISTAKE_TO_AVOID_SINoALICE
Type=Link
URL=https://www.youtube.com/watch?v=eoUvXXdT8r0
Icon=text-html
