[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9t4U0-bSJO4/Genshin_Impact_Is_MANIPULATING_Players
Type=Link
URL=https://www.youtube.com/watch?v=9t4U0-bSJO4
Icon=text-html
