[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Fy09JLevNKU/HYPE_NEW_EVENT_+_2_NEW_UNITS_+_TONS_OF_REWARDS_+_SUMMONS_AT_END_-D
Type=Link
URL=https://www.youtube.com/watch?v=Fy09JLevNKU
Icon=text-html
