[Desktop Entry]
Encoding=UTF-8
Name=Tectone/CpZCRqLTQRw/Why_I_Became_a_Vtuber.
Type=Link
URL=https://www.youtube.com/watch?v=CpZCRqLTQRw
Icon=text-html
