[Desktop Entry]
Encoding=UTF-8
Name=Tectone/8RgjZsVCoxw/The_massive_flaw_in_Genshin_Impact
Type=Link
URL=https://www.youtube.com/watch?v=8RgjZsVCoxw
Icon=text-html
