[Desktop Entry]
Encoding=UTF-8
Name=Tectone/9AsqNJIzJD4/Honkai_Star_Rail_Will_Fail_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=9AsqNJIzJD4
Icon=text-html
