[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Iq9HHCL_BxU/5_COMMON_MISTAKES_NEW_PLAYERS_MAKE_IN_ELUNE
Type=Link
URL=https://www.youtube.com/watch?v=Iq9HHCL_BxU
Icon=text-html
