[Desktop Entry]
Encoding=UTF-8
Name=Tectone/a60nPe88qn0/CAN_NATLAN_SAVE_GENSHIN_Ignition_Teaser_-_A_Name_Forged_in_Flames_Reaction
Type=Link
URL=https://www.youtube.com/watch?v=a60nPe88qn0
Icon=text-html
