[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/IayvE_jFgrc/Magnetic_Pole_Shift_-_A_Doomsday_Scenario
Type=Link
URL=https://www.youtube.com/watch?v=IayvE_jFgrc
Icon=text-html
