[Desktop Entry]
Encoding=UTF-8
Name=Tectone/r0Lk8S6ZR04/THE_OBLIVION_REMASTER_BLEW_MY_MIND
Type=Link
URL=https://www.youtube.com/watch?v=r0Lk8S6ZR04
Icon=text-html
