[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Wzwr9BrrgfU/HOW_TO_GET_FREE_5_STAR_IN_WUTHERING_WAVES_+_NEW_5_STAR_CHANGLI
Type=Link
URL=https://www.youtube.com/watch?v=Wzwr9BrrgfU
Icon=text-html
