[Desktop Entry]
Encoding=UTF-8
Name=Tectone/hRY4HlSgrUc/I_MADE_F2P_STREAMERS_WHALE_FOR_THE_FIRST_TIME
Type=Link
URL=https://www.youtube.com/watch?v=hRY4HlSgrUc
Icon=text-html
