[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KenOviQPuEw/RELEASE_DATE_CONFIRMED_NEW_PATCH_IS_ALMOST_HERE_Ulala_Idle_Adventure
Type=Link
URL=https://www.youtube.com/watch?v=KenOviQPuEw
Icon=text-html
