[Desktop Entry]
Encoding=UTF-8
Name=Tectone/o5gXPYl7avo/1.4_GENSHIN_IMPACT_IS_HERE........_kinda
Type=Link
URL=https://www.youtube.com/watch?v=o5gXPYl7avo
Icon=text-html
