[Desktop Entry]
Encoding=UTF-8
Name=Tectone/kIzR-9LJzPY/10_Minutes_of_HIDDEN_Wuthering_Waves_2.0_Gameplay
Type=Link
URL=https://www.youtube.com/watch?v=kIzR-9LJzPY
Icon=text-html
