[Desktop Entry]
Encoding=UTF-8
Name=Tectone/3eCJ579wapI/I_was_wrong_about_Honkai_Star_Rail
Type=Link
URL=https://www.youtube.com/watch?v=3eCJ579wapI
Icon=text-html
