[Desktop Entry]
Encoding=UTF-8
Name=Tectone/Rjws9ljq8Bc/I_CANNOT_BELIEVE_THEY_DID_THIS
Type=Link
URL=https://www.youtube.com/watch?v=Rjws9ljq8Bc
Icon=text-html
