[Desktop Entry]
Encoding=UTF-8
Name=Tectone/KM_9fZyehhA/PUNISHING_GRAY_RAVEN_IS_FINALLY_HERE_Tectone_Reacts
Type=Link
URL=https://www.youtube.com/watch?v=KM_9fZyehhA
Icon=text-html
