[Desktop Entry]
Encoding=UTF-8
Name=Tectone/P6j300koIZU/Asmongold_just_sent_Hasan_to_Jail
Type=Link
URL=https://www.youtube.com/watch?v=P6j300koIZU
Icon=text-html
