[Desktop Entry]
Encoding=UTF-8
Name=Tectone/ZntjX6RlNEY/WHICH_BAND_TO_PICK_+_EVENT_TIPS_Heart_of_surging_flame_Arknights
Type=Link
URL=https://www.youtube.com/watch?v=ZntjX6RlNEY
Icon=text-html
