[Desktop Entry]
Encoding=UTF-8
Name=Tectone/s9Al9V4kK5k/Honest_Review_-_5.4_Genshin_Impact_Looks_Beyond_Terrible.
Type=Link
URL=https://www.youtube.com/watch?v=s9Al9V4kK5k
Icon=text-html
