[Desktop Entry]
Encoding=UTF-8
Name=Kurzgesagt_In_a_Nutshell/uFk0mgljtns/How_to_Make_a_Kurzgesagt_Video_in_1200_Hours
Type=Link
URL=https://www.youtube.com/watch?v=uFk0mgljtns
Icon=text-html
